flows.json
[{"id":"7805686.aa4fd98","type":"tab","label":"GLOVE_FLOW","disabled":false,"info":""},{"id":"6ab0e354.73759c","type":"tab","label":"OBS_FLOW","disabled":false,"info":""},{"id":"cfd0979a.623e5","type":"tab","label":"MMV_FLOW","disabled":false,"info":""},{"id":"1b865d04.fea413","type":"tab","label":"ActiveEffects_Info","disabled":false,"info":""},{"id":"d2fca23b.7424e","type":"tab","label":"HEAT_FLOW","disabled":false,"info":""},{"id":"4d7be1f4.b5275","type":"tab","label":"TWITCH_PUBSUB_FLOW","disabled":false,"info":""},{"id":"4caae8ed.a8fe6","type":"tab","label":"TVHEAD_FLOW","disabled":false,"info":""},{"id":"4e58db7.6d260a4","type":"tab","label":"CMD_FLOW","disabled":false,"info":""},{"id":"e18de415.2010c","type":"tab","label":"SPOTIFY_FLOW","disabled":false,"info":""},{"id":"3fb8dd49.f77b2a","type":"tab","label":"TVHUD_FLOW","disabled":true,"info":""},{"id":"1401435b.5e178d","type":"socketio-config","host":"wss://heat-ebs.j38.net","port":"443","path":"","reconnection":true},{"id":"4c536cec.a4985c","type":"mqtt-broker","name":"ATLTV_MQTT_BROKER","broker":"192.168.1.106","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cac3db2f.c8125","type":"obs-instance","name":"","host":"localhost","port":"4444"},{"id":"b2d55c81.f3ac8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8b6fee01.4a3f5","type":"spotify-auth","name":"Spotify OAuth2","scope":"streaming\nuser-read-playback-position\nuser-read-playback-state\nuser-modify-playback-state\nuser-read-currently-playing\nugc-image-upload"},{"id":"8214a97c.3477e8","type":"tmi-config","name":"tvheadbot","username":"TvheadBot","channels":"atltvhead","reconnect":true,"secure":true,"log_error":true},{"id":"486da522.b31cbc","type":"websocket-client","path":"wss://pubsub-edge.twitch.tv","tls":"","wholemsg":"false"},{"id":"265c331e.217fdc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e56d764f.ce3b98","type":"ui_group","name":"TVHUD","tab":"265c331e.217fdc","order":1,"disp":true,"width":"12","collapse":false},{"id":"c7c561fe.969e6","type":"socketio-connector","z":"d2fca23b.7424e","server":"1401435b.5e178d","namespace":"","name":"connectionname","x":220,"y":240,"wires":[["35e0ddf3.373bb2"]]},{"id":"35e0ddf3.373bb2","type":"socketio-listener","z":"d2fca23b.7424e","eventname":"click","name":"","x":390,"y":240,"wires":[["b99ce57a.b610f8"]]},{"id":"b99ce57a.b610f8","type":"json","z":"d2fca23b.7424e","name":"","property":"payload","action":"","pretty":false,"x":530,"y":240,"wires":[["5e41f0cc.baa768"]]},{"id":"e9397373.321938","type":"comment","z":"d2fca23b.7424e","name":"THANK YOU LEB!","info":"This Section of code was writting by Leb, of https://github.com/lebaston100","x":230,"y":180,"wires":[]},{"id":"50375c36.45ed2c","type":"mqtt in","z":"7805686.aa4fd98","name":"","topic":"button_glove","qos":"0","datatype":"auto","broker":"4c536cec.a4985c","x":110,"y":200,"wires":[["b3a01bd2.11c178"]]},{"id":"d6f06f17.35f548","type":"switch","z":"7805686.aa4fd98","name":"Page_0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"B1","vt":"str"},{"t":"eq","v":"B2","vt":"str"},{"t":"eq","v":"B3","vt":"str"},{"t":"eq","v":"B4","vt":"str"},{"t":"eq","v":"B5","vt":"str"},{"t":"eq","v":"B6","vt":"str"},{"t":"eq","v":"B7","vt":"str"},{"t":"eq","v":"B8","vt":"str"},{"t":"eq","v":"B9","vt":"str"},{"t":"eq","v":"B10","vt":"str"},{"t":"eq","v":"B11","vt":"str"},{"t":"eq","v":"B12","vt":"str"},{"t":"eq","v":"B13","vt":"str"},{"t":"eq","v":"B14","vt":"str"},{"t":"eq","v":"B15","vt":"str"},{"t":"eq","v":"B11+B12","vt":"str"},{"t":"eq","v":"B8+B9","vt":"str"},{"t":"eq","v":"B7+B8","vt":"str"},{"t":"eq","v":"B6+B7","vt":"str"},{"t":"eq","v":"B1+B2","vt":"str"},{"t":"eq","v":"B2+B3","vt":"str"},{"t":"eq","v":"B3+B4","vt":"str"},{"t":"eq","v":"B1+B6","vt":"str"},{"t":"eq","v":"B2+B7","vt":"str"},{"t":"eq","v":"B3+B8","vt":"str"},{"t":"eq","v":"B4+B9","vt":"str"},{"t":"eq","v":"B5+B10","vt":"str"},{"t":"eq","v":"B6+B11","vt":"str"}],"checkall":"false","repair":false,"outputs":28,"x":1340,"y":280,"wires":[["eefcef3e.7eea78"],["29945960.5a046e"],["3029958b.097302"],["ee898cf0.20ba58"],["d8aeb569.43a1e"],["82a861a5.cdef4"],["23613b20.45d8e4"],["9ba2c5e4.2bfc68"],["ba53bc51.fa4e2"],["d6dd2329.db743"],["d0523135.56dc9"],["6eb00e12.7fb25"],["dad6d36c.c9f14"],["1a3d6929.b782f7"],["aeeb6609.d64ea8"],["a29d5e4e.c1467"],["ba53bc51.fa4e2","9ba2c5e4.2bfc68"],["a4644488.2b7ef"],["38dd4605.a296c2"],["5a467fbb.a6c24"],["fd3b0934.201f2"],["decf425d.e36fe"],["dfe39131.e6df7"],["580ed058.a86c5"],["7b4f3644.2a6ca"],["6b8330db.7126"],["15527cc.d3ce583"],["dabbe1a.c709ca"]]},{"id":"c89077a5.2dd528","type":"obs-connection-status","z":"6ab0e354.73759c","name":"","obsInstance":"cac3db2f.c8125","x":340,"y":60,"wires":[["b65dcdcf.67e678"]]},{"id":"58e43dcf.9ba15c","type":"mqtt out","z":"6ab0e354.73759c","name":"","topic":"obs_status","qos":"","retain":"","broker":"4c536cec.a4985c","x":690,"y":60,"wires":[]},{"id":"9f1818a6.60e7e8","type":"midi out","z":"cfd0979a.623e5","name":"","midiport":"1","x":1540,"y":580,"wires":[]},{"id":"24cca9fb.f9f78e","type":"comment","z":"cfd0979a.623e5","name":"camToggle","info":"","x":140,"y":80,"wires":[]},{"id":"692f9ec.2ddf9e","type":"link in","z":"cfd0979a.623e5","name":"Yolact_Main_EffectsCAM_TOGGLE","links":["a4644488.2b7ef"],"x":155,"y":120,"wires":[["f2380f13.1a9d2"]]},{"id":"5e41f0cc.baa768","type":"mqtt out","z":"d2fca23b.7424e","name":"","topic":"viewer_click","qos":"","retain":"","broker":"4c536cec.a4985c","x":710,"y":240,"wires":[]},{"id":"87844721.c4725","type":"obs-no-req-data-request","z":"6ab0e354.73759c","name":"STARSTOPSTREAMING","request":"StartStopStreaming","obsInstance":"cac3db2f.c8125","x":470,"y":380,"wires":[["29e98e5e.ab31f2"]]},{"id":"b65dcdcf.67e678","type":"rbe","z":"6ab0e354.73759c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":540,"y":60,"wires":[["58e43dcf.9ba15c","4fb5a6b9.6a16f","2720326d.74b15e"]]},{"id":"d4ea20db.2fb09","type":"link out","z":"7805686.aa4fd98","name":"start_stop_stream","links":["c0158154.3e0b78"],"x":1375,"y":720,"wires":[]},{"id":"c0158154.3e0b78","type":"link in","z":"6ab0e354.73759c","name":"start_stop_stream","links":["d4ea20db.2fb09"],"x":295,"y":380,"wires":[["87844721.c4725"]]},{"id":"96c6e66f.8f4a78","type":"mqtt out","z":"6ab0e354.73759c","name":"","topic":"stream_live","qos":"","retain":"","broker":"4c536cec.a4985c","x":790,"y":460,"wires":[]},{"id":"9ef5bbbf.9ccd68","type":"obs-no-req-data-request","z":"6ab0e354.73759c","name":"stream_live","request":"GetStreamingStatus","obsInstance":"cac3db2f.c8125","x":610,"y":460,"wires":[["96c6e66f.8f4a78","51383486.06b114"]]},{"id":"29e98e5e.ab31f2","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":420,"wires":[["9ef5bbbf.9ccd68"]]},{"id":"438fa66c.e3e268","type":"comment","z":"6ab0e354.73759c","name":"stream_status","info":"nodes to start stop live streaming and send that status back to the mqtt server","x":310,"y":340,"wires":[]},{"id":"f2380f13.1a9d2","type":"function","z":"cfd0979a.623e5","name":"wCamVSYolCamToggle","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [46,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [46,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":330,"y":120,"wires":[["9f1818a6.60e7e8"]]},{"id":"6ec442e7.d5a06c","type":"websocket out","z":"4d7be1f4.b5275","name":"","server":"","client":"486da522.b31cbc","x":570,"y":160,"wires":[]},{"id":"2f7f9ba5.1c9b34","type":"inject","z":"4d7be1f4.b5275","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"type\":\"LISTEN\",\"data\":{\"topics\":[\"community-points-channel-v1.118520887\", \"channel-bits-events-v1.118520887\", \"channel-subscribe-events-v1.118520887\"],\"auth_token\":\"7sh1403z1pqcwinvtkd7i8hjm0qtld\"}}","payloadType":"json","x":250,"y":160,"wires":[["6ec442e7.d5a06c"]]},{"id":"b77523a7.cb101","type":"debug","z":"4d7be1f4.b5275","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":280,"wires":[]},{"id":"75bf52a0.2e1d74","type":"websocket in","z":"4d7be1f4.b5275","name":"","server":"","client":"486da522.b31cbc","x":290,"y":280,"wires":[["9991044e.428128"]]},{"id":"d632e291.fe30b","type":"websocket out","z":"4d7be1f4.b5275","name":"","server":"","client":"486da522.b31cbc","x":650,"y":400,"wires":[]},{"id":"994c2baf.14f918","type":"inject","z":"4d7be1f4.b5275","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"299","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"type\": \"PING\"}","payloadType":"json","x":310,"y":400,"wires":[["d632e291.fe30b"]]},{"id":"9991044e.428128","type":"function","z":"4d7be1f4.b5275","name":"CH_P_REWARDs","func":"var p = JSON.parse(msg.payload);\n//node.warn(p)\nif (p.type == \"RESPONSE\"){\n    return null;\n}\nelse if(p.type == \"PONG\"){\n    return msg;\n}\nelse if(p.type==\"MESSAGE\"){\n    var par = JSON.parse(p.data.message);\n    if (p.data.topic==\"channel-subscribe-events-v1.118520887\") {\n        msg.payload = par;\n        msg.twitch = \"sub\"\n        return msg;\n    }\n    else if (p.data.topic==\"channel-bits-events-v1.118520887\") {\n        msg.payload = par;\n        msg.twitch = \"bits\";\n        return msg;\n    }\n    else if(p.data.topic ==\"community-points-channel-v1.118520887\"){\n        msg.payload = par.data.redemption.reward.title;\n        msg.twitch = \"points\"\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":280,"wires":[["2854e5be.9cf312"]]},{"id":"7b0c885a.682998","type":"mqtt out","z":"4d7be1f4.b5275","name":"","topic":"subscriber/event","qos":"","retain":"","broker":"4c536cec.a4985c","x":1210,"y":380,"wires":[]},{"id":"8520ebb1.8cabf8","type":"obs-no-req-data-request","z":"6ab0e354.73759c","name":"CurrentScene","request":"GetCurrentScene","obsInstance":"cac3db2f.c8125","x":620,"y":220,"wires":[["7415ff0b.7476a","2bb302b9.08ca36"]]},{"id":"92e934f2.3601c","type":"inject","z":"6ab0e354.73759c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":180,"wires":[["2270111c.17f9d6","dc5a16b.90285e8"]]},{"id":"5c2c61b.6f75da","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":960,"y":200,"wires":[[],[]]},{"id":"7415ff0b.7476a","type":"function","z":"6ab0e354.73759c","name":"TakeScreen","func":"msg.payload = {\n    \"request-type\": \"TakeSourceScreenshot\",\n    \"embedPictureFormat\": \"jpeg\",\n    \"saveToFilePath\": \"C:/Users/nated/Pictures/obsscreenshots/screen.jpeg\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[["5c2c61b.6f75da"]]},{"id":"2a56dd28.5b4272","type":"mqtt out","z":"6ab0e354.73759c","name":"","topic":"screen_shot","qos":"","retain":"","broker":"4c536cec.a4985c","x":1150,"y":220,"wires":[]},{"id":"d9ea465e.42675","type":"comment","z":"6ab0e354.73759c","name":"ScreenShot_MQTT","info":"","x":330,"y":140,"wires":[]},{"id":"fa1abaf4.885038","type":"template","z":"6ab0e354.73759c","name":"Image_in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/jpeg;base64,{{payload}}\"style=\"width=\"200\" height=\"140\"\"/>","output":"str","x":1080,"y":280,"wires":[["b42fd1dc.ba144"]]},{"id":"b42fd1dc.ba144","type":"ui_template","z":"6ab0e354.73759c","group":"e56d764f.ce3b98","name":"SCREENSHOT","order":13,"width":"5","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1260,"y":280,"wires":[[]]},{"id":"b83253e6.36f6a","type":"base64","z":"6ab0e354.73759c","name":"","action":"","property":"payload","x":900,"y":280,"wires":[["fa1abaf4.885038","2a56dd28.5b4272"]]},{"id":"772a9a9f.8a866c","type":"file in","z":"6ab0e354.73759c","name":"","filename":"C:/Users/nated/Pictures/obsscreenshots/screen.jpeg","format":"","chunk":false,"sendError":false,"encoding":"base64","x":600,"y":280,"wires":[["b83253e6.36f6a"]]},{"id":"2270111c.17f9d6","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":240,"wires":[["772a9a9f.8a866c"]]},{"id":"67ac329e.336ecc","type":"status","z":"d2fca23b.7424e","name":"","scope":["35e0ddf3.373bb2"],"x":200,"y":320,"wires":[["f0552191.3ae31"]]},{"id":"f0552191.3ae31","type":"function","z":"d2fca23b.7424e","name":"if listening","func":"if (msg.status.text == \"listening\") {\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":320,"wires":[["ebdc4ec.37079b"]]},{"id":"ebdc4ec.37079b","type":"function","z":"d2fca23b.7424e","name":"sub event","func":"msg.connectionName = 'connectionname';\nmsg.eventName = 'channel';\nmsg.payload = [118520887];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":320,"wires":[["eefee1a2.84d79"]]},{"id":"eefee1a2.84d79","type":"socketio-emitter","z":"d2fca23b.7424e","name":"","x":730,"y":320,"wires":[]},{"id":"dc5a16b.90285e8","type":"switch","z":"6ab0e354.73759c","name":"flow.state_gate","property":"state","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":180,"wires":[["8520ebb1.8cabf8"]]},{"id":"344e4ef9.e013ca","type":"change","z":"6ab0e354.73759c","name":"","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[[]]},{"id":"4fb5a6b9.6a16f","type":"function","z":"6ab0e354.73759c","name":"flow.state_set","func":"if (msg.payload == \"connected\") {\n    msg.payload = 1;\n    return msg;\n}\n\nelse if (msg.payload == \"disconnected\"){\n    msg.payload = 0;\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":120,"wires":[["344e4ef9.e013ca"]]},{"id":"fb1182c6.051158","type":"comment","z":"6ab0e354.73759c","name":"obs_status","info":"","x":300,"y":20,"wires":[]},{"id":"defa30f8.d50d1","type":"exec","z":"4e58db7.6d260a4","command":"C:/Users/nated/Documents/StreamScripts/FG_SCORE.bat","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Yolact Foreground","x":510,"y":80,"wires":[[],[],[]]},{"id":"713bc705.0f8358","type":"inject","z":"4e58db7.6d260a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["defa30f8.d50d1"]]},{"id":"9cd8d4f2.ff789","type":"status","z":"4e58db7.6d260a4","name":"","scope":["defa30f8.d50d1"],"x":140,"y":360,"wires":[["e7750087.a28d88"]]},{"id":"e7750087.a28d88","type":"function","z":"4e58db7.6d260a4","name":"if listening yolact","func":"if (msg.status.text.slice(0, 3) == \"pid\") {\n    msg.payload = {\"yolact\": \"true\"};\n    flow.set(\"yolact_flip\", false);\n    return msg;\n}\nelse if (msg.status.text == \"rc:0\"){\n    msg.payload = {\"yolact\": \"false\"};\n    flow.set(\"yolact_flip\", true);\n    return msg;\n}\nelse if (msg.status.text.slice(0, 2) == \"rc\"){\n    msg.payload = {\"yolact\": \"false_bad\"};\n    flow.set(\"yolact_flip\", true);\n    return msg;\n}\nreturn null\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"yolact_flip\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"yolact_flip\", true);","x":340,"y":360,"wires":[["8e995c51.db90c","10559930.6b1547"]]},{"id":"8e995c51.db90c","type":"mqtt out","z":"4e58db7.6d260a4","name":"","topic":"yolact_script","qos":"","retain":"","broker":"4c536cec.a4985c","x":630,"y":360,"wires":[]},{"id":"26d332f1.c3cf66","type":"comment","z":"4e58db7.6d260a4","name":"Start Yolact","info":"","x":120,"y":40,"wires":[]},{"id":"7f387ef.273c48","type":"comment","z":"4e58db7.6d260a4","name":"Yolact Status","info":"set's yolact status\nsets yolact_flip","x":130,"y":320,"wires":[]},{"id":"b3a01bd2.11c178","type":"json","z":"7805686.aa4fd98","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":200,"wires":[["7d02ea3c.419f5c"]]},{"id":"7d02ea3c.419f5c","type":"function","z":"7805686.aa4fd98","name":"ButtonSeperator","func":"var out = \"\"\nvar count = 0;\nif(msg.payload.b1 != flow.get(\"b1\")){\n    if(msg.payload.b1 > flow.get(\"b1\")){\n        out = out + \"B1+\";\n    }\n    flow.set(\"b1\", msg.payload.b1);\n}\nif(msg.payload.b2 != flow.get(\"b2\")){\n    if(msg.payload.b2 > flow.get(\"b2\")){\n        out = out + \"B2+\";}\n    flow.set(\"b2\", msg.payload.b2);\n}\nif(msg.payload.b3 != flow.get(\"b3\")){\n    if(msg.payload.b3 > flow.get(\"b3\")){\n        out = out + \"B3+\";}\n    flow.set(\"b3\", msg.payload.b3);\n}\nif(msg.payload.b4 != flow.get(\"b4\")){\n    if(msg.payload.b4 > flow.get(\"b4\")){\n        out = out + \"B4+\";}\n    flow.set(\"b4\", msg.payload.b4);\n}\nif(msg.payload.b5 != flow.get(\"b5\")){\n    if(msg.payload.b5 > flow.get(\"b5\")){\n        out = out + \"B5+\";}\n    flow.set(\"b5\", msg.payload.b5);\n}\nif(msg.payload.b6 != flow.get(\"b6\")){\n    if(msg.payload.b6 > flow.get(\"b6\")){\n        out = out + \"B6+\";}\n    flow.set(\"b6\", msg.payload.b6);\n}\nif(msg.payload.b7 != flow.get(\"b7\")){\n    if(msg.payload.b7 > flow.get(\"b7\")){\n        out = out + \"B7+\";}\n    flow.set(\"b7\", msg.payload.b7);\n}\nif(msg.payload.b8 != flow.get(\"b8\")){\n    if(msg.payload.b8 > flow.get(\"b8\")){\n        out = out + \"B8+\";}\n    flow.set(\"b8\", msg.payload.b8);\n}\nif(msg.payload.b9 != flow.get(\"b9\")){\n    if(msg.payload.b9 > flow.get(\"b9\")){\n        out = out + \"B9+\";}\n    flow.set(\"b9\", msg.payload.b9);\n}\nif(msg.payload.b10 != flow.get(\"b10\")){\n    if(msg.payload.b10 > flow.get(\"b10\")){\n        out = out + \"B10+\";}\n    flow.set(\"b10\", msg.payload.b10);\n}\nif(msg.payload.b11 != flow.get(\"b11\")){\n    if(msg.payload.b11 > flow.get(\"b11\")){\n        out = out + \"B11+\";}\n    flow.set(\"b11\", msg.payload.b11);\n}\nif(msg.payload.b12 != flow.get(\"b12\")){\n    if(msg.payload.b12 > flow.get(\"b12\")){\n        out = out + \"B12+\";}\n    flow.set(\"b12\", msg.payload.b12);\n}\nif(msg.payload.b13 != flow.get(\"b13\")){\n    if(msg.payload.b13 > flow.get(\"b13\")){\n        out = out + \"B13+\";}\n    flow.set(\"b13\", msg.payload.b13);\n}\nif(msg.payload.b14 != flow.get(\"b14\")){\n    if(msg.payload.b14 > flow.get(\"b14\")){\n        out = out + \"B14+\";}\n    flow.set(\"b14\", msg.payload.b14);\n}\nif(msg.payload.b15 != flow.get(\"b15\")){\n    if(msg.payload.b15 > flow.get(\"b15\")){\n        out = out + \"B15+\";}\n    flow.set(\"b15\", msg.payload.b15);\n}\ncount = msg.payload.b1 + msg.payload.b2 + msg.payload.b3 + msg.payload.b4 +msg.payload.b5 + msg.payload.b6 + msg.payload.b7 + msg.payload.b8 + msg.payload.b9 + msg.payload.b10 + msg.payload.b11 + msg.payload.b12 + msg.payload.b13 + msg.payload.b14 + msg.payload.b15;\nflow.set('buttonCount', count);\n\nmsg.buttonCount = flow.get('buttonCount');\n\nmsg.payload = out.slice(0,-1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nif(flow.get('buttonCount')=='undefined'){\n    flow.set('buttonCount',0);\n}\n","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"b1\", undefined);\nflow.set(\"b2\", undefined);\nflow.set(\"b2\", undefined);\nflow.set(\"b3\", undefined);\nflow.set(\"b4\", undefined);\nflow.set(\"b4\", undefined);\nflow.set(\"b5\", undefined);\nflow.set(\"b6\", undefined);\nflow.set(\"b7\", undefined);\nflow.set(\"b8\", undefined);\nflow.set(\"b9\", undefined);\nflow.set(\"b10\", undefined);\nflow.set(\"b11\", undefined);\nflow.set(\"b12\", undefined);\nflow.set(\"b13\", undefined);\nflow.set(\"b14\", undefined);\nflow.set(\"b15\", undefined);","x":470,"y":200,"wires":[["c9c6c684.150f08","8ee171fd.513ce","b49e37b3.77a678"]],"info":"This function first sets/resets button state when turning on the glove.\n\nThen if the set/reset values are smaller than the incomming values, create an output string for the switch node. \n\nI can also just use the button numbers in the switch node so I am looking into that. "},{"id":"22e23d4d.a276ba","type":"comment","z":"7805686.aa4fd98","name":"Button Handler","info":"parses out which buttons have been pressed and combos. Sets an overall button counter, and last buttons pressed. Sets a glove page setting and seperates the button presses to the page switches","x":120,"y":120,"wires":[]},{"id":"3eff3a91.6ff0d6","type":"link out","z":"7805686.aa4fd98","name":"yolact","links":["2c2848be.64aa7"],"x":1375,"y":880,"wires":[]},{"id":"2c2848be.64aa7","type":"link in","z":"4e58db7.6d260a4","name":"yolact","links":["3eff3a91.6ff0d6"],"x":75,"y":140,"wires":[["a76c8b0d.ba57c8"]]},{"id":"c9c6c684.150f08","type":"ui_text","z":"7805686.aa4fd98","group":"e56d764f.ce3b98","order":10,"width":0,"height":0,"name":"","label":"BUTTONS","format":"{{msg.payload}}","layout":"row-left","x":590,"y":260,"wires":[]},{"id":"b884fc2.188798","type":"mqtt in","z":"7805686.aa4fd98","name":"","topic":"glove/gesture","qos":"2","datatype":"auto","broker":"4c536cec.a4985c","x":150,"y":480,"wires":[["619457aa.93cfb","8c044256.842148"]]},{"id":"13cebaf2.346d2d","type":"exec","z":"4e58db7.6d260a4","command":"taskkill /F /IM \"python.exe\" /T","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":160,"wires":[[],[],[]]},{"id":"bd13bcc7.d228f","type":"uibuilder","z":"3fb8dd49.f77b2a","name":"","topic":"","url":"tvhud","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"useSecurity":false,"sessionLength":432000,"tokenAutoExtend":false,"x":110,"y":60,"wires":[[],[]]},{"id":"2720326d.74b15e","type":"ui_text","z":"6ab0e354.73759c","group":"e56d764f.ce3b98","order":2,"width":0,"height":0,"name":"","label":"OBS_CON","format":"{{msg.payload}}","layout":"row-left","x":890,"y":60,"wires":[]},{"id":"51383486.06b114","type":"ui_text","z":"6ab0e354.73759c","group":"e56d764f.ce3b98","order":7,"width":"0","height":"0","name":"","label":"TWITCH","format":"{{msg.payload.streaming}}","layout":"row-left","x":790,"y":420,"wires":[]},{"id":"10559930.6b1547","type":"ui_text","z":"4e58db7.6d260a4","group":"e56d764f.ce3b98","order":9,"width":0,"height":0,"name":"","label":"YOLACT","format":"{{msg.payload.yolact}}","layout":"row-left","x":640,"y":320,"wires":[]},{"id":"2bb302b9.08ca36","type":"ui_text","z":"6ab0e354.73759c","group":"e56d764f.ce3b98","order":1,"width":0,"height":0,"name":"","label":"SCENE","format":"{{msg.payload.name}}","layout":"row-left","x":800,"y":180,"wires":[]},{"id":"eb71d399.92a458","type":"exec","z":"4e58db7.6d260a4","command":"C:/Users/nated/Documents/StreamScripts/BG_SCORE.bat","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Yolact Background","x":510,"y":220,"wires":[[],[],[]]},{"id":"68a1be1f.e5cc58","type":"link out","z":"7805686.aa4fd98","name":"yolact_bg","links":["f53a5006.44749"],"x":1375,"y":1040,"wires":[]},{"id":"f53a5006.44749","type":"link in","z":"4e58db7.6d260a4","name":"yolact_bg","links":["68a1be1f.e5cc58"],"x":195,"y":220,"wires":[["eb71d399.92a458"]]},{"id":"984367c5.b365f8","type":"status","z":"4e58db7.6d260a4","name":"","scope":["eb71d399.92a458"],"x":140,"y":400,"wires":[["a37ac9f.f435b38"]]},{"id":"a37ac9f.f435b38","type":"function","z":"4e58db7.6d260a4","name":"if listening yolact bg","func":"if (msg.status.text.slice(0, 3) == \"pid\") {\n    msg.payload = {\"yolact\": \"true_bg\"};\n    flow.set(\"yolact_flip\", false);\n    return msg;\n}\nelse if (msg.status.text == \"rc:0\"){\n    msg.payload = {\"yolact\": \"false_bg\"};\n    flow.set(\"yolact_flip\", true);\n    return msg;\n}\nelse if (msg.status.text.slice(0, 2) == \"rc\"){\n    msg.payload = {\"yolact\": \"false_bad_bg\"};\n    flow.set(\"yolact_flip\", true);\n    return msg;\n}\nreturn null\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":400,"wires":[["10559930.6b1547","8e995c51.db90c"]]},{"id":"175e87f4.ef13e8","type":"exec","z":"4e58db7.6d260a4","command":"docker stop rtmp","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":430,"y":500,"wires":[[],[],[]]},{"id":"fec90f51.715078","type":"exec","z":"4e58db7.6d260a4","command":"docker start rtmp","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":570,"y":560,"wires":[[],[],[]]},{"id":"1f984070.6c477","type":"delay","z":"4e58db7.6d260a4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":560,"wires":[["fec90f51.715078"]]},{"id":"f98211c8.42ca88","type":"link in","z":"4e58db7.6d260a4","name":"restart_rtmp","links":["80c61b9a.060c98"],"x":175,"y":520,"wires":[["175e87f4.ef13e8","1f984070.6c477"]]},{"id":"4f023446.275d94","type":"link in","z":"4e58db7.6d260a4","name":"restart_mqtt","links":["b053942d.2fdaf8"],"x":175,"y":660,"wires":[["b8685026.4722c","44190278.fb44b4"]]},{"id":"b8685026.4722c","type":"exec","z":"4e58db7.6d260a4","command":"docker stop mqtt_test","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":440,"y":660,"wires":[[],[],[]]},{"id":"72d9f57c.e2d5b4","type":"exec","z":"4e58db7.6d260a4","command":"docker start mqtt_test","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":580,"y":720,"wires":[[],[],[]]},{"id":"44190278.fb44b4","type":"delay","z":"4e58db7.6d260a4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":720,"wires":[["72d9f57c.e2d5b4"]]},{"id":"f06d53f0.9dc06","type":"comment","z":"4e58db7.6d260a4","name":"Restart RTMP","info":"","x":150,"y":460,"wires":[]},{"id":"4e907c99.1b9adc","type":"comment","z":"4e58db7.6d260a4","name":"Restart MQTT","info":"","x":150,"y":600,"wires":[]},{"id":"8ee171fd.513ce","type":"function","z":"7805686.aa4fd98","name":"PageSetter","func":"if (msg.payload == \"B4+B5\"){\n    flow.set(\"page\", flow.get(\"page\") + 1);\n}\nif (flow.get(\"page\") == 2){\n    flow.set(\"page\", 0);\n}\nmsg.page = flow.get(\"page\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"page\", 0)","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"page\", undefined);","x":710,"y":200,"wires":[["5db77462.69e6ac","f0263716.82e6b8"]]},{"id":"5db77462.69e6ac","type":"switch","z":"7805686.aa4fd98","name":"PageSwitch","property":"page","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":950,"y":200,"wires":[["df4b81c2.73508"],["c0192bc0.4e5628"],["1b01f8bb.fb4137"]]},{"id":"c0192bc0.4e5628","type":"switch","z":"7805686.aa4fd98","name":"Page_1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"B2+B3+B4","vt":"str"},{"t":"eq","v":"B1","vt":"str"},{"t":"eq","v":"B2","vt":"str"},{"t":"eq","v":"B3","vt":"str"},{"t":"eq","v":"B4","vt":"str"},{"t":"eq","v":"B5","vt":"str"},{"t":"eq","v":"B6","vt":"str"},{"t":"eq","v":"B7","vt":"str"},{"t":"eq","v":"B8","vt":"str"},{"t":"eq","v":"B9","vt":"str"},{"t":"eq","v":"B10","vt":"str"},{"t":"eq","v":"B11","vt":"str"},{"t":"eq","v":"B12","vt":"str"},{"t":"eq","v":"B13","vt":"str"},{"t":"eq","v":"B14","vt":"str"},{"t":"eq","v":"B15","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":1200,"y":880,"wires":[["d4ea20db.2fb09"],[],[],["a3ca7a0f.4aae98"],["83ec618d.bb7a78"],["d4a4992b.e6a19"],["3eff3a91.6ff0d6"],["80c61b9a.060c98","b2227da9.52a5d8"],["b2227da9.52a5d8"],["37a613a3.0cb6c4"],[],["68a1be1f.e5cc58"],["b053942d.2fdaf8"],[],[],[]]},{"id":"f0263716.82e6b8","type":"ui_text","z":"7805686.aa4fd98","group":"e56d764f.ce3b98","order":11,"width":0,"height":0,"name":"","label":"PAGE","format":"{{msg.page}}","layout":"row-left","x":830,"y":240,"wires":[]},{"id":"442bf5ab.5ee05c","type":"link in","z":"6ab0e354.73759c","name":"OBS_COMMANDS","links":["fe9e48f5.3efb18"],"x":275,"y":540,"wires":[["5e040c1b.70912c"]]},{"id":"80c61b9a.060c98","type":"link out","z":"7805686.aa4fd98","name":"restart_rtmp","links":["f98211c8.42ca88"],"x":1375,"y":920,"wires":[]},{"id":"b053942d.2fdaf8","type":"link out","z":"7805686.aa4fd98","name":"restart_mqtt","links":["4f023446.275d94"],"x":1375,"y":1080,"wires":[]},{"id":"9e03b9ea.3754b8","type":"function","z":"6ab0e354.73759c","name":"toggle_rtmp","func":"flow.set(\"toggle_rtmp\", false);\nmsg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"RTMP\",\n    \"source\": \"rtmp\",\n    \"render\": flow.get(\"toggle_rtmp\")\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"toggle_rtmp\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"toggle_rtmp\", true);","x":330,"y":640,"wires":[["139819ad.d6e2c6"]]},{"id":"139819ad.d6e2c6","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":520,"y":640,"wires":[["b96f1ecc.e65288"],[]]},{"id":"b96f1ecc.e65288","type":"function","z":"6ab0e354.73759c","name":"toggle_rtmp_true","func":"if(msg.payload.status==\"ok\"){\n    flow.set(\"toggle_rtmp\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"RTMP\",\n    \"source\": \"rtmp\",\n    \"render\": flow.get(\"toggle_rtmp\")\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":640,"wires":[["b840bda8.96f23"]]},{"id":"ffd1818a.714c5","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":1080,"y":640,"wires":[[],[]]},{"id":"5e040c1b.70912c","type":"change","z":"6ab0e354.73759c","name":"","rules":[{"t":"set","p":"page","pt":"flow","to":"page","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":540,"wires":[[]]},{"id":"b840bda8.96f23","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":640,"wires":[["ffd1818a.714c5"]]},{"id":"a224dc.aedeb328","type":"comment","z":"6ab0e354.73759c","name":"Set Glove Page","info":"","x":340,"y":500,"wires":[]},{"id":"17dc56a2.fea9a1","type":"comment","z":"6ab0e354.73759c","name":"toggle_rtmp_source","info":"","x":350,"y":600,"wires":[]},{"id":"c33288d4.ff21e","type":"SetCurrentScene","z":"6ab0e354.73759c","name":"Set_BRB","scene":"BRB","sceneType":"sceneName","obsInstance":"cac3db2f.c8125","x":400,"y":720,"wires":[[]]},{"id":"bca6bdd1.0f86b","type":"SetCurrentScene","z":"6ab0e354.73759c","name":"Set_MAIN","scene":"Main","sceneType":"sceneName","obsInstance":"cac3db2f.c8125","x":400,"y":760,"wires":[[]]},{"id":"cf30da5c.24f4a","type":"SetCurrentScene","z":"6ab0e354.73759c","name":"Set_IRLvsTV","scene":"RealityVsTv","sceneType":"sceneName","obsInstance":"cac3db2f.c8125","x":410,"y":800,"wires":[[]]},{"id":"90a70f44.4d37d8","type":"comment","z":"6ab0e354.73759c","name":"setScenes","info":"","x":340,"y":680,"wires":[]},{"id":"a76c8b0d.ba57c8","type":"function","z":"4e58db7.6d260a4","name":"yolact_flip","func":"if(flow.get(\"yolact_flip\")){\n    msg.payload=1;\n}\nelse{\n    msg.payload=0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":140,"wires":[["c94c5a15.1966e"]]},{"id":"c94c5a15.1966e","type":"switch","z":"4e58db7.6d260a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":140,"wires":[["defa30f8.d50d1"],["13cebaf2.346d2d"]]},{"id":"b2227da9.52a5d8","type":"link out","z":"7805686.aa4fd98","name":"Auto_toggle_rtmp","links":["9de62acf.055cc"],"x":1375,"y":960,"wires":[]},{"id":"9de62acf.055cc","type":"link in","z":"6ab0e354.73759c","name":"toggle_rtmp","links":["b2227da9.52a5d8"],"x":215,"y":640,"wires":[["9e03b9ea.3754b8"]]},{"id":"528cf69b.a7a01","type":"link in","z":"6ab0e354.73759c","name":"BRB_scene","links":["83ec618d.bb7a78"],"x":295,"y":720,"wires":[["c33288d4.ff21e"]]},{"id":"c86d6bee.90601","type":"link in","z":"6ab0e354.73759c","name":"Main_scene","links":["a3ca7a0f.4aae98"],"x":295,"y":760,"wires":[["bca6bdd1.0f86b"]]},{"id":"24870b4f.a4449c","type":"link in","z":"6ab0e354.73759c","name":"TVvsIRL_scene","links":["d4a4992b.e6a19"],"x":295,"y":800,"wires":[["cf30da5c.24f4a"]]},{"id":"a3ca7a0f.4aae98","type":"link out","z":"7805686.aa4fd98","name":"Main_scene","links":["c86d6bee.90601"],"x":1375,"y":760,"wires":[]},{"id":"83ec618d.bb7a78","type":"link out","z":"7805686.aa4fd98","name":"BRB_scene","links":["528cf69b.a7a01"],"x":1375,"y":800,"wires":[]},{"id":"d4a4992b.e6a19","type":"link out","z":"7805686.aa4fd98","name":"TVvsIRL_scene","links":["24870b4f.a4449c"],"x":1375,"y":840,"wires":[]},{"id":"d0523135.56dc9","type":"link out","z":"7805686.aa4fd98","name":"toggle_Ecam","links":["b75593a6.1b3f68"],"x":1735,"y":440,"wires":[]},{"id":"d8ca2f37.d5848","type":"comment","z":"6ab0e354.73759c","name":"toggle_Ecam_main","info":"","x":350,"y":880,"wires":[]},{"id":"22d4bebf.5b8eaa","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":580,"y":920,"wires":[[],[]]},{"id":"f45c3901.992f2","type":"function","z":"6ab0e354.73759c","name":"toggle_ecam","func":"if(context.get(\"toggle_Ecam\")){\n    context.set(\"toggle_Ecam\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"Main\",\n    \"source\": \"Effects_CAM\",\n    \"render\": context.get(\"toggle_Ecam\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle_Ecam\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"Main\",\n    \"source\": \"Effects_CAM\",\n    \"render\": context.get(\"toggle_Ecam\")\n    };\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle_Ecam\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle_Ecam\", false);","x":390,"y":920,"wires":[["22d4bebf.5b8eaa"]]},{"id":"b75593a6.1b3f68","type":"link in","z":"6ab0e354.73759c","name":"toggle_Ecam","links":["d0523135.56dc9"],"x":275,"y":920,"wires":[["f45c3901.992f2"]]},{"id":"4b7be28e.76a77c","type":"link in","z":"6ab0e354.73759c","name":"MMV_LKEY_T","links":["a29d5e4e.c1467"],"x":275,"y":1000,"wires":[["3798b3bc.efaf1c"]]},{"id":"3798b3bc.efaf1c","type":"function","z":"6ab0e354.73759c","name":"MMV_LumaKey","func":"if(context.get(\"Luma\")){\n    context.set(\"Luma\", false);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"MMV\",\n    \"filterName\": \"Luma Key\",\n    \"filterEnabled\": context.get(\"Luma\")\n    };\n    return msg;\n}\nelse{\n    context.set(\"Luma\", true);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"MMV\",\n    \"filterName\": \"Luma Key\",\n    \"filterEnabled\": context.get(\"Luma\")\n    };\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"Luma\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"Luma\", false);","x":400,"y":1000,"wires":[["bfe6f825.911418"]]},{"id":"bfe6f825.911418","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":580,"y":1000,"wires":[[],[]]},{"id":"a29d5e4e.c1467","type":"link out","z":"7805686.aa4fd98","name":"MMV_LKEY_T","links":["4b7be28e.76a77c"],"x":1735,"y":640,"wires":[]},{"id":"50f9429.b6e8c3c","type":"comment","z":"6ab0e354.73759c","name":"toggle_MMV_LUMA_KEY","info":"","x":370,"y":960,"wires":[]},{"id":"549de544.5d5954","type":"function","z":"6ab0e354.73759c","name":"LetMeTHINK","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"Main\",\n    \"source\": \"LetMeThinkMirror\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"Main\",\n    \"source\": \"LetMeThinkMirror\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":390,"y":1080,"wires":[["5d139c8e.8e3964"]]},{"id":"5d139c8e.8e3964","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":760,"y":1080,"wires":[[],[]]},{"id":"d0545b63.ebe6","type":"link in","z":"6ab0e354.73759c","name":"LMT","links":["1a3d6929.b782f7"],"x":275,"y":1080,"wires":[["549de544.5d5954","f81464d0.eb161"]]},{"id":"765026d3.58689","type":"comment","z":"6ab0e354.73759c","name":"toggle_LET_ME_THINK","info":"","x":360,"y":1040,"wires":[]},{"id":"1a3d6929.b782f7","type":"link out","z":"7805686.aa4fd98","name":"LMT","links":["d0545b63.ebe6"],"x":1735,"y":560,"wires":[]},{"id":"9ba2c5e4.2bfc68","type":"link out","z":"7805686.aa4fd98","name":"MULTI_TOGGLE","links":["e794da18.cee6d"],"x":1735,"y":320,"wires":[]},{"id":"f7b76e4a.04d088","type":"comment","z":"6ab0e354.73759c","name":"Toggle_MULTI_3","info":"","x":340,"y":1300,"wires":[]},{"id":"af9b5e5e.bafba8","type":"function","z":"6ab0e354.73759c","name":"Multi_1_T","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YOL_M1\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YOL_M1\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":380,"y":1340,"wires":[["c657af47.4cbb1"]]},{"id":"c657af47.4cbb1","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":580,"y":1360,"wires":[[],[]]},{"id":"e794da18.cee6d","type":"link in","z":"6ab0e354.73759c","name":"MULTI_TOGGLE","links":["9ba2c5e4.2bfc68"],"x":275,"y":1340,"wires":[["af9b5e5e.bafba8","35f2d9bf.242f56"]]},{"id":"35f2d9bf.242f56","type":"function","z":"6ab0e354.73759c","name":"Multi_2_T","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YOL_M2\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YOL_M2\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":380,"y":1380,"wires":[["c657af47.4cbb1"]]},{"id":"7cbdf4f9.d9e79c","type":"function","z":"6ab0e354.73759c","name":"Multi_3_T","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YOL_M3\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YOL_M3\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":380,"y":1460,"wires":[["a16e4212.23f9b8"]]},{"id":"77e6557.ecf532c","type":"function","z":"6ab0e354.73759c","name":"Multi_4_T","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YOL_M4\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YOL_M4\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":380,"y":1500,"wires":[["a16e4212.23f9b8"]]},{"id":"6951566f.31be4","type":"comment","z":"6ab0e354.73759c","name":"Toggle_MULTI_4&5","info":"","x":350,"y":1420,"wires":[]},{"id":"a16e4212.23f9b8","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":580,"y":1480,"wires":[[],[]]},{"id":"ba53bc51.fa4e2","type":"link out","z":"7805686.aa4fd98","name":"MULTI_5_Toggle","links":["681e7c09.b85bec"],"x":1735,"y":360,"wires":[]},{"id":"681e7c09.b85bec","type":"link in","z":"6ab0e354.73759c","name":"MULTI_5_Toggle","links":["ba53bc51.fa4e2"],"x":275,"y":1480,"wires":[["7cbdf4f9.d9e79c","77e6557.ecf532c"]]},{"id":"2854e5be.9cf312","type":"switch","z":"4d7be1f4.b5275","name":"","property":"twitch","propertyType":"msg","rules":[{"t":"eq","v":"points","vt":"str"},{"t":"eq","v":"bits","vt":"str"},{"t":"eq","v":"sub","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":830,"y":280,"wires":[["adc02e55.50b61"],["1e1e8848.f59f68"],["865e403.c26d4c"]]},{"id":"adc02e55.50b61","type":"function","z":"4d7be1f4.b5275","name":"points","func":"if(msg.payload == \"_TRAIL\"){\n    \n}\nelse if(msg.payload == \"_ACTIVATE_ACCELERATOR\"){\n    \n}\nelse if(msg.payload == \"_IN_THOUGHT\"){\n    \n}\nelse if(msg.payload == \"_CYBER_VIBES\"){\n    \n}\nelse if(msg.payload == \"_FREEZE\"){\n    \n}\nelse if(msg.payload == \"Backpack Message\"){\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":220,"wires":[["b77523a7.cb101","fa958f54.02a828","22d6ce13.51fb52"]]},{"id":"1e1e8848.f59f68","type":"function","z":"4d7be1f4.b5275","name":"bits","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":280,"wires":[["b77523a7.cb101","4e6d21ad.c722e","199cb650.075e3a"]]},{"id":"865e403.c26d4c","type":"function","z":"4d7be1f4.b5275","name":"sub","func":"var usr = msg.payload.display_name;\nvar mess = msg.payload.sub_message.message;\nvar subp = msg.payload.sub_plan;\nvar months = msg.payload.cumulative_months;\nvar gift = msg.payload.is_gift;\nvar gft_usr = msg.payload.recipient_display_name;\nvar sub_months = msg.payload.multi_month_duration;\n\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":340,"wires":[["b77523a7.cb101","7b0c885a.682998","4eef1467.e0c174"]]},{"id":"a4644488.2b7ef","type":"link out","z":"7805686.aa4fd98","name":"Yolact_Main_EffectsCAM_TOGGLE","links":["692f9ec.2ddf9e"],"x":1735,"y":680,"wires":[]},{"id":"eefcef3e.7eea78","type":"link out","z":"7805686.aa4fd98","name":"Converge","links":["3f572ed8.740df2","4222a967.b9c478","8004387b.90aaa"],"x":1735,"y":40,"wires":[]},{"id":"4222a967.b9c478","type":"link in","z":"cfd0979a.623e5","name":"Converge_toggle","links":["eefcef3e.7eea78"],"x":155,"y":220,"wires":[["b4921c40.a8602"]]},{"id":"3faeff6e.7ef3e","type":"comment","z":"cfd0979a.623e5","name":"Converge","info":"","x":160,"y":180,"wires":[]},{"id":"bfb1c4af.898ad8","type":"link in","z":"4e58db7.6d260a4","name":"restart_MMV","links":["37a613a3.0cb6c4"],"x":175,"y":840,"wires":[["ae5f45ea.620ff","5f3e9c91.ecb37c"]]},{"id":"ae5f45ea.620ff","type":"exec","z":"4e58db7.6d260a4","command":"taskkill /F /IM \"Magic.exe\" /T","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":840,"wires":[[],[],[]]},{"id":"15991b52.3ed585","type":"exec","z":"4e58db7.6d260a4","command":"\"C:/Users/nated/Documents/MMV/TVHEAD_MAGIC1.magic\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":900,"wires":[[],[],[]]},{"id":"5f3e9c91.ecb37c","type":"delay","z":"4e58db7.6d260a4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":900,"wires":[["15991b52.3ed585"]]},{"id":"5c5821e1.1ef868","type":"comment","z":"4e58db7.6d260a4","name":"Restart Magic","info":"","x":150,"y":780,"wires":[]},{"id":"37a613a3.0cb6c4","type":"link out","z":"7805686.aa4fd98","name":"RestartMagic","links":["bfb1c4af.898ad8"],"x":1375,"y":1000,"wires":[]},{"id":"bbee4505.3b3478","type":"comment","z":"6ab0e354.73759c","name":"Ecam_main_TRUE","info":"","x":350,"y":1540,"wires":[]},{"id":"f0784bbc.7c6f3","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":580,"y":1600,"wires":[[],[]]},{"id":"b2a5772b.10d548","type":"function","z":"6ab0e354.73759c","name":"toggle_ecam","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"Main\",\n\"source\": \"Effects_CAM\",\n\"render\": true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n//context.set(\"toggle_Ecam\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\n//context.set(\"toggle_Ecam\", true);","x":390,"y":1580,"wires":[["f0784bbc.7c6f3"]]},{"id":"8004387b.90aaa","type":"link in","z":"6ab0e354.73759c","name":"Ecam_TRUE","links":["eefcef3e.7eea78","29945960.5a046e","3029958b.097302","ee898cf0.20ba58","d8aeb569.43a1e","c10d4933.0485f","82a861a5.cdef4","6eb00e12.7fb25","23613b20.45d8e4","d6dd2329.db743","38dd4605.a296c2","7b4f3644.2a6ca","6b8330db.7126","dabbe1a.c709ca","dad6d36c.c9f14"],"x":275,"y":1600,"wires":[["b2a5772b.10d548","8ea2d1f2.575478"]]},{"id":"1416acfe.b45613","type":"inject","z":"4d7be1f4.b5275","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":600,"wires":[["cd015612.e109b8"]]},{"id":"cd015612.e109b8","type":"template","z":"4d7be1f4.b5275","name":"Sub","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"type\":\"MESSAGE\",\n    \"data\":{\n        \"topic\":\"channel-subscribe-events-v1.118520887\",\n        \"message\":\"{\\\"benefit_end_month\\\":0,\\\"user_name\\\":\\\"tvheadbot\\\",\\\"display_name\\\":\\\"TvheadBot\\\",\\\"channel_name\\\":\\\"atltvhead\\\",\\\"user_id\\\":\\\"174722379\\\",\\\"channel_id\\\":\\\"118520887\\\",\\\"time\\\":\\\"2021-02-07T21:07:08.617734288Z\\\",\\\"sub_message\\\":{\\\"message\\\":\\\"woop\\\",\\\"emotes\\\":null},\\\"sub_plan\\\":\\\"1000\\\",\\\"sub_plan_name\\\":\\\"BASIC CABLE\\\",\\\"months\\\":0,\\\"cumulative_months\\\":7,\\\"context\\\":\\\"resub\\\",\\\"is_gift\\\":false,\\\"multi_month_duration\\\":0}\"\n    \n    }\n}\n","output":"str","x":410,"y":600,"wires":[["9991044e.428128"]]},{"id":"df4b81c2.73508","type":"delay","z":"7805686.aa4fd98","name":"","pauseType":"delay","timeout":"9.23","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":280,"wires":[["d6f06f17.35f548"]]},{"id":"2a401edc.1673a2","type":"inject","z":"4d7be1f4.b5275","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":680,"wires":[["f5a965be.0a31b"]]},{"id":"f5a965be.0a31b","type":"template","z":"4d7be1f4.b5275","name":"bits","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"type\": \"MESSAGE\",\n   \"data\": {\n      \"topic\": \"channel-bits-events-v1.118520887\",\n      \"message\": \"{\\\"data\\\":{\\\"user_name\\\":\\\"dallasnchains\\\",\\\"channel_name\\\":\\\"dallas\\\",\\\"user_id\\\":\\\"129454141\\\",\\\"channel_id\\\":\\\"44322889\\\",\\\"time\\\":\\\"2017-02-09T13:23:58.168Z\\\",\\\"chat_message\\\":\\\"cheer10000 New badge hype!\\\",\\\"bits_used\\\":10000,\\\"total_bits_used\\\":25000,\\\"context\\\":\\\"cheer\\\",\\\"badge_entitlement\\\":{\\\"new_version\\\":25000,\\\"previous_version\\\":10000}},\\\"version\\\":\\\"1.0\\\",\\\"message_type\\\":\\\"bits_event\\\",\\\"message_id\\\":\\\"8145728a4-35f0-4cf7-9dc0-f2ef24de1eb6\\\"}\"\n   }\n}","output":"str","x":420,"y":680,"wires":[["9991044e.428128"]]},{"id":"cfe216d8.64d368","type":"comment","z":"4d7be1f4.b5275","name":"TestSub","info":"","x":240,"y":560,"wires":[]},{"id":"b772aa33.95f7d8","type":"comment","z":"4d7be1f4.b5275","name":"TestBits","info":"","x":230,"y":640,"wires":[]},{"id":"4e6d21ad.c722e","type":"mqtt out","z":"4d7be1f4.b5275","name":"","topic":"twitch_bits","qos":"","retain":"","broker":"4c536cec.a4985c","x":1310,"y":200,"wires":[]},{"id":"fa958f54.02a828","type":"mqtt out","z":"4d7be1f4.b5275","name":"","topic":"twitch_cpoints","qos":"","retain":"","broker":"4c536cec.a4985c","x":1220,"y":140,"wires":[]},{"id":"aeeb6609.d64ea8","type":"link out","z":"7805686.aa4fd98","name":"toggle_yolact_ontop","links":["782e379d.6a555"],"x":1735,"y":600,"wires":[]},{"id":"782e379d.6a555","type":"link in","z":"6ab0e354.73759c","name":"toggle_yolact_ontop","links":["aeeb6609.d64ea8"],"x":275,"y":1260,"wires":[["18a64ae1.7d33f5"]]},{"id":"42da1af4.814a9c","type":"comment","z":"6ab0e354.73759c","name":"Toggle_yolact","info":"","x":330,"y":1220,"wires":[]},{"id":"18a64ae1.7d33f5","type":"function","z":"6ab0e354.73759c","name":"yolact_ecam","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"Effects_CAM\",\n    \"source\": \"YOL_FG\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"Effects_CAM\",\n    \"source\": \"YOL_FG\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":390,"y":1260,"wires":[["f6786289.7c119"]]},{"id":"f6786289.7c119","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":580,"y":1260,"wires":[[],[]]},{"id":"8ea2d1f2.575478","type":"function","z":"6ab0e354.73759c","name":"yolact_ecam","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"Effects_CAM\",\n\"source\": \"YOL_FG\",\n\"render\": false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1620,"wires":[["f0784bbc.7c6f3"]]},{"id":"f10b8f01.e36de8","type":"status","z":"4e58db7.6d260a4","name":"","scope":["15991b52.3ed585"],"x":160,"y":980,"wires":[["28760876.f31e38"]]},{"id":"28760876.f31e38","type":"function","z":"4e58db7.6d260a4","name":"if listening Magic","func":"if (msg.status.text.slice(0, 3) == \"pid\") {\n    msg.payload = {\"Magic\": \"true\"};\n    flow.set(\"Magic_flip\", false);\n    return msg;\n}\nelse if (msg.status.text == \"rc:0\"){\n    msg.payload = {\"Magic\": \"false\"};\n    flow.set(\"Magic_flip\", true);\n    return msg;\n}\nelse if (msg.status.text.slice(0, 2) == \"rc\"){\n    msg.payload = {\"Magic\": \"false_bad\"};\n    flow.set(\"Magic_flip\", true);\n    return msg;\n}\nreturn null\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"Magic_flip\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"Magic_flip\", true);","x":360,"y":980,"wires":[["b6b091f1.46c9f8","194fad0e.4ca9e3"]]},{"id":"b6b091f1.46c9f8","type":"mqtt out","z":"4e58db7.6d260a4","name":"","topic":"Magic_script","qos":"","retain":"","broker":"4c536cec.a4985c","x":650,"y":1000,"wires":[]},{"id":"d2ddc60e.dbe63","type":"comment","z":"4e58db7.6d260a4","name":"Magic Status","info":"set's yolact status\nsets yolact_flip","x":150,"y":940,"wires":[]},{"id":"194fad0e.4ca9e3","type":"ui_text","z":"4e58db7.6d260a4","group":"e56d764f.ce3b98","order":8,"width":0,"height":0,"name":"","label":"MAGIC","format":"{{msg.payload.Magic}}","layout":"row-left","x":660,"y":960,"wires":[]},{"id":"29945960.5a046e","type":"link out","z":"7805686.aa4fd98","name":"VHS","links":["8004387b.90aaa","de521607.7fb4c8","f78a8556.d698"],"x":1735,"y":80,"wires":[]},{"id":"55813c17.0bdd1c","type":"comment","z":"cfd0979a.623e5","name":"rainbow_Trails_zooming","info":"","x":190,"y":280,"wires":[]},{"id":"10922084.f82ebf","type":"link in","z":"cfd0979a.623e5","name":"rainbow_Trails_zooming","links":[],"x":155,"y":320,"wires":[["fdf6fd06.fe3f7"]]},{"id":"3029958b.097302","type":"link out","z":"7805686.aa4fd98","name":"safetyTrails","links":["537ed9b8.8e4b2","784a19b0.eb51c8","8004387b.90aaa"],"x":1735,"y":120,"wires":[]},{"id":"ee898cf0.20ba58","type":"link out","z":"7805686.aa4fd98","name":"GlitchShift","links":["8004387b.90aaa","ad05e5b1.d815f8","e8faa252.2925"],"x":1735,"y":160,"wires":[]},{"id":"2b99c37f.873c0c","type":"comment","z":"cfd0979a.623e5","name":"motionBlur","info":"","x":140,"y":360,"wires":[]},{"id":"799c2244.b17754","type":"link in","z":"cfd0979a.623e5","name":"motionBlur","links":["d8aeb569.43a1e"],"x":155,"y":400,"wires":[["d5af86a9.8fea6"]]},{"id":"d8aeb569.43a1e","type":"link out","z":"7805686.aa4fd98","name":"motionBlur","links":["799c2244.b17754","8004387b.90aaa"],"x":1735,"y":200,"wires":[]},{"id":"801e58e8.bc9db","type":"function","z":"cfd0979a.623e5","name":"ToggleStars","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [51,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [51,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":290,"y":480,"wires":[["9f1818a6.60e7e8"]]},{"id":"ed220e89.181a28","type":"link in","z":"cfd0979a.623e5","name":"toggle_stars","links":["82a861a5.cdef4"],"x":155,"y":480,"wires":[["801e58e8.bc9db"]]},{"id":"d518a032.1e6a38","type":"comment","z":"cfd0979a.623e5","name":"ToggleStars","info":"","x":150,"y":440,"wires":[]},{"id":"82a861a5.cdef4","type":"link out","z":"7805686.aa4fd98","name":"starToggle","links":["8004387b.90aaa","ed220e89.181a28"],"x":1735,"y":240,"wires":[]},{"id":"6eb00e12.7fb25","type":"link out","z":"7805686.aa4fd98","name":"shake","links":["6213d1d4.33f3a8","8004387b.90aaa","a8c53e91.397d9"],"x":1735,"y":480,"wires":[]},{"id":"4ae4944.92c27ec","type":"comment","z":"cfd0979a.623e5","name":"toggle background effects 2","info":"","x":200,"y":520,"wires":[]},{"id":"1fc73018.09301","type":"function","z":"cfd0979a.623e5","name":"Background toggle 2","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [52,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [52,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":320,"y":560,"wires":[["9f1818a6.60e7e8"]]},{"id":"777d8ac0.aac54c","type":"link in","z":"cfd0979a.623e5","name":"Background Effects 2","links":["7b4f3644.2a6ca"],"x":155,"y":560,"wires":[["1fc73018.09301"]]},{"id":"991de3b1.be0f98","type":"function","z":"cfd0979a.623e5","name":"SceneToggle","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [35,1,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [35,2,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);\n","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":310,"y":40,"wires":[["9f1818a6.60e7e8"]]},{"id":"ea9efba5.89e698","type":"link in","z":"cfd0979a.623e5","name":"SceneChange","links":["23d4e986.b35ede"],"x":155,"y":40,"wires":[["991de3b1.be0f98"]]},{"id":"23613b20.45d8e4","type":"link out","z":"7805686.aa4fd98","name":"Kalidoscope","links":["448f76a2.834ad","8004387b.90aaa"],"x":1735,"y":280,"wires":[]},{"id":"48887562.316414","type":"function","z":"cfd0979a.623e5","name":"Kalidoscope","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [53,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [53,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":290,"y":640,"wires":[["9f1818a6.60e7e8"]]},{"id":"448f76a2.834ad","type":"link in","z":"cfd0979a.623e5","name":"Kalidoscope","links":["23613b20.45d8e4"],"x":155,"y":640,"wires":[["48887562.316414"]]},{"id":"2fa295c7.961d9a","type":"function","z":"cfd0979a.623e5","name":"background Rotate","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [54,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [54,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":310,"y":720,"wires":[["9f1818a6.60e7e8"]]},{"id":"659bf19f.458918","type":"link in","z":"cfd0979a.623e5","name":"background Rotate","links":["38dd4605.a296c2"],"x":155,"y":720,"wires":[["2fa295c7.961d9a"]]},{"id":"de521607.7fb4c8","type":"link in","z":"6ab0e354.73759c","name":"Audio_T_1","links":["29945960.5a046e"],"x":275,"y":1740,"wires":[["3f8f16d.919e36a","9aaec7d4.c78fe"]]},{"id":"3f572ed8.740df2","type":"link in","z":"6ab0e354.73759c","name":"Audio_T_2","links":["eefcef3e.7eea78"],"x":275,"y":1840,"wires":[["61c8dd0f.410814","aaadb40a.7edf98"]]},{"id":"537ed9b8.8e4b2","type":"link in","z":"6ab0e354.73759c","name":"Audio_T_3","links":["3029958b.097302"],"x":275,"y":1960,"wires":[["24180d3f.880682","f168ee70.374478"]]},{"id":"e8faa252.2925","type":"link in","z":"6ab0e354.73759c","name":"Audio_T_4","links":["ee898cf0.20ba58"],"x":275,"y":2100,"wires":[["e3f9cf2e.4eba1","b422a5cf.73c6b8"]]},{"id":"a8c53e91.397d9","type":"link in","z":"6ab0e354.73759c","name":"Audio_T_5","links":["6eb00e12.7fb25"],"x":275,"y":2200,"wires":[["1bff8d30.36b673","1e631000.9c197"]]},{"id":"3f8f16d.919e36a","type":"function","z":"6ab0e354.73759c","name":"audio1On","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Glitch 1_06.wav\",\n\"render\": true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":380,"y":1720,"wires":[["a150887e.673828"]]},{"id":"a150887e.673828","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":720,"y":1740,"wires":[[],[]]},{"id":"ea88b204.de142","type":"function","z":"6ab0e354.73759c","name":"audio1Off","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Glitch 1_06.wav\",\n\"render\": false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":540,"y":1760,"wires":[["a150887e.673828"]]},{"id":"9aaec7d4.c78fe","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":1760,"wires":[["ea88b204.de142"]]},{"id":"61c8dd0f.410814","type":"function","z":"6ab0e354.73759c","name":"audio2On","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Device 8 Start.wav\",\n\"render\": true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":380,"y":1820,"wires":[["478df1c8.b06658"]]},{"id":"478df1c8.b06658","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":720,"y":1840,"wires":[[],[]]},{"id":"4ee7d518.1d53b4","type":"function","z":"6ab0e354.73759c","name":"audio2Off","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Device 8 Start.wav\",\n\"render\": false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":540,"y":1860,"wires":[["478df1c8.b06658"]]},{"id":"aaadb40a.7edf98","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":1860,"wires":[["4ee7d518.1d53b4"]]},{"id":"24180d3f.880682","type":"function","z":"6ab0e354.73759c","name":"audio3On","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Data Calculating 5_1.wav\",\n\"render\": true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":380,"y":1940,"wires":[["1c41fb38.118f4d"]]},{"id":"1c41fb38.118f4d","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":720,"y":1960,"wires":[[],[]]},{"id":"96432009.096b78","type":"function","z":"6ab0e354.73759c","name":"audio3Off","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Data Calculating 5_1.wav\",\n\"render\": false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":540,"y":1980,"wires":[["1c41fb38.118f4d"]]},{"id":"f168ee70.374478","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":1980,"wires":[["96432009.096b78"]]},{"id":"e3f9cf2e.4eba1","type":"function","z":"6ab0e354.73759c","name":"audio4On","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Device 2 Start.wav\",\n\"render\": true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":400,"y":2080,"wires":[["2cca6e0e.b8d1fa"]]},{"id":"2cca6e0e.b8d1fa","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":740,"y":2100,"wires":[[],[]]},{"id":"db913b30.003ee8","type":"function","z":"6ab0e354.73759c","name":"audio4Off","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Device 2 Start.wav\",\n\"render\": false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":560,"y":2120,"wires":[["2cca6e0e.b8d1fa"]]},{"id":"b422a5cf.73c6b8","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":2120,"wires":[["db913b30.003ee8"]]},{"id":"1bff8d30.36b673","type":"function","z":"6ab0e354.73759c","name":"audio5On","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Teleport 2_2.wav\",\n\"render\": true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":380,"y":2180,"wires":[["4f7a2567.e17cfc"]]},{"id":"4f7a2567.e17cfc","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":720,"y":2200,"wires":[[],[]]},{"id":"db5a6721.635188","type":"function","z":"6ab0e354.73759c","name":"audio5Off","func":"msg.payload = {\n\"request-type\": \"SetSceneItemRender\",\n\"scene-name\": \"AudioTracks\",\n\"source\": \"Teleport 2_2.wav\",\n\"render\": false\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":540,"y":2220,"wires":[["4f7a2567.e17cfc"]]},{"id":"1e631000.9c197","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":2220,"wires":[["db5a6721.635188"]]},{"id":"4dd48b7c.3754bc","type":"mqtt in","z":"7805686.aa4fd98","name":"","topic":"controller_glove","qos":"2","datatype":"auto","broker":"4c536cec.a4985c","x":140,"y":700,"wires":[["b066008c.6612d"]]},{"id":"b066008c.6612d","type":"ui_text","z":"7805686.aa4fd98","group":"e56d764f.ce3b98","order":3,"width":0,"height":0,"name":"","label":"C_GLOVE","format":"{{msg.payload}}","layout":"row-left","x":310,"y":700,"wires":[]},{"id":"619457aa.93cfb","type":"ui_text","z":"7805686.aa4fd98","group":"e56d764f.ce3b98","order":4,"width":0,"height":0,"name":"","label":"G_GLOVE","format":"{{msg.payload}}","layout":"row-left","x":330,"y":500,"wires":[]},{"id":"8000858f.6b9e1","type":"mqtt in","z":"4caae8ed.a8fe6","name":"","topic":"tvhead","qos":"2","datatype":"auto","broker":"4c536cec.a4985c","x":130,"y":100,"wires":[["b1b749b9.9ac4"]]},{"id":"b1b749b9.9ac4","type":"ui_text","z":"4caae8ed.a8fe6","group":"e56d764f.ce3b98","order":6,"width":0,"height":0,"name":"","label":"tvhead","format":"{{msg.payload}}","layout":"row-left","x":330,"y":100,"wires":[]},{"id":"b47fdb4.305dfa8","type":"mqtt out","z":"4caae8ed.a8fe6","name":"","topic":"tvhead","qos":"","retain":"","broker":"4c536cec.a4985c","x":330,"y":160,"wires":[]},{"id":"7804b1bc.b32bf8","type":"inject","z":"4caae8ed.a8fe6","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"dead","payloadType":"str","x":130,"y":160,"wires":[["b47fdb4.305dfa8"]]},{"id":"f7a5a944.f02a48","type":"comment","z":"4caae8ed.a8fe6","name":"isAlive","info":"","x":120,"y":60,"wires":[]},{"id":"4e3612aa.3630ac","type":"spotify","z":"e18de415.2010c","name":"","auth":"8b6fee01.4a3f5","api":"getMyCurrentPlayingTrack","x":380,"y":60,"wires":[["aa9eb93b.4d4cc8","32360a08.8383b6","8f6be93e.712b6","e83a01eb.1a9fc8","49cc39b5.b046d8"]]},{"id":"6492c086.0ee49","type":"inject","z":"e18de415.2010c","name":"1s/1s","repeat":"1","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"true","payloadType":"bool","x":130,"y":60,"wires":[["4e3612aa.3630ac"]]},{"id":"aa9eb93b.4d4cc8","type":"debug","z":"e18de415.2010c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":40,"wires":[]},{"id":"7c509b8e.6d6bcc","type":"mqtt out","z":"e18de415.2010c","name":"","topic":"spotify","qos":"","retain":"","broker":"4c536cec.a4985c","x":850,"y":80,"wires":[]},{"id":"32360a08.8383b6","type":"change","z":"e18de415.2010c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.item.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[["7c509b8e.6d6bcc"]]},{"id":"8f6be93e.712b6","type":"ui_text","z":"e18de415.2010c","group":"e56d764f.ce3b98","order":14,"width":0,"height":0,"name":"","label":"Track","format":"{{msg.payload.item.name}}","layout":"col-center","x":650,"y":120,"wires":[]},{"id":"40bc4f87.4a88c","type":"spotify","z":"e18de415.2010c","name":"","auth":"8b6fee01.4a3f5","api":"skipToNext","x":330,"y":180,"wires":[[]]},{"id":"907fe178.f899e8","type":"switch","z":"e18de415.2010c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":380,"wires":[["c97643ad.7c7a18"],["fe730a58.2f04a"]]},{"id":"c97643ad.7c7a18","type":"spotify","z":"e18de415.2010c","name":"","auth":"8b6fee01.4a3f5","api":"play","x":1030,"y":360,"wires":[[]]},{"id":"fe730a58.2f04a","type":"spotify","z":"e18de415.2010c","name":"","auth":"8b6fee01.4a3f5","api":"pause","x":1030,"y":400,"wires":[[]]},{"id":"7b18679d.47f308","type":"inject","z":"e18de415.2010c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":870,"y":420,"wires":[["fe730a58.2f04a"]]},{"id":"ccea7786.9a053","type":"inject","z":"e18de415.2010c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":870,"y":340,"wires":[["c97643ad.7c7a18"]]},{"id":"5c9aa89e.741bc8","type":"inject","z":"e18de415.2010c","name":"Next","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":180,"wires":[["40bc4f87.4a88c"]]},{"id":"48ba4bea.38bf2c","type":"spotify","z":"e18de415.2010c","name":"","auth":"8b6fee01.4a3f5","api":"getTrack","x":520,"y":580,"wires":[["d6a759d2.f64588"]]},{"id":"e367e320.68af58","type":"rbe","z":"e18de415.2010c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":480,"wires":[["9131e1.051d862"]]},{"id":"9131e1.051d862","type":"change","z":"e18de415.2010c","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[payload]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["48ba4bea.38bf2c"]]},{"id":"e83a01eb.1a9fc8","type":"change","z":"e18de415.2010c","name":"","rules":[{"t":"move","p":"payload.progress_ms","pt":"msg","to":"progress","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":640,"wires":[["f45a7e1b.93bb4"]]},{"id":"d6a759d2.f64588","type":"change","z":"e18de415.2010c","name":"","rules":[{"t":"move","p":"payload.duration_ms","pt":"msg","to":"duration","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":680,"wires":[["f45a7e1b.93bb4"]]},{"id":"e049d874.3145a8","type":"ui_slider","z":"e18de415.2010c","name":"","label":"","tooltip":"","group":"e56d764f.ce3b98","order":15,"width":"8","height":"1","passthru":true,"outs":"end","topic":"","min":0,"max":"10","step":1,"x":370,"y":760,"wires":[["f27b6140.eb37d8"]]},{"id":"f45a7e1b.93bb4","type":"change","z":"e18de415.2010c","name":"","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"min\":1,\"max\":$.duration}","tot":"jsonata"},{"t":"move","p":"progress","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":760,"wires":[["e049d874.3145a8"]]},{"id":"8c2ba00.448ce6","type":"spotify","z":"e18de415.2010c","name":"","auth":"8b6fee01.4a3f5","api":"seek","x":790,"y":840,"wires":[[]]},{"id":"fd3bb565.e7918","type":"change","z":"e18de415.2010c","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[payload]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":840,"wires":[["8c2ba00.448ce6"]]},{"id":"f27b6140.eb37d8","type":"rbe","z":"e18de415.2010c","name":"","func":"deadband","gap":"3000","start":"","inout":"in","property":"payload","x":530,"y":760,"wires":[["b4eab065.411668"]]},{"id":"49cc39b5.b046d8","type":"change","z":"e18de415.2010c","name":"","rules":[{"t":"move","p":"payload.item.id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":480,"wires":[["e367e320.68af58"]]},{"id":"b4eab065.411668","type":"trigger","z":"e18de415.2010c","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":200,"y":840,"wires":[["477a4b1e.25a10c"]]},{"id":"477a4b1e.25a10c","type":"rbe","z":"e18de415.2010c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":390,"y":840,"wires":[["fd3bb565.e7918"]]},{"id":"9b9cb8eb.6cf4c","type":"link in","z":"e18de415.2010c","name":"Spot_Next","links":[],"x":155,"y":140,"wires":[["40bc4f87.4a88c"]]},{"id":"aad752cf.8fbf6","type":"link in","z":"e18de415.2010c","name":"Spot_on_off","links":[],"x":515,"y":380,"wires":[["647c01c1.3ac46"]]},{"id":"647c01c1.3ac46","type":"function","z":"e18de415.2010c","name":"Toggle_SPOT_ON/OFF","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":380,"wires":[["907fe178.f899e8"]]},{"id":"9f37de28.223c7","type":"inject","z":"7805686.aa4fd98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"dead","payloadType":"str","x":110,"y":860,"wires":[["c6964317.6d33b","b7b8b007.2a8a5"]]},{"id":"c6964317.6d33b","type":"mqtt out","z":"7805686.aa4fd98","name":"","topic":"controller_glove","qos":"","retain":"","broker":"4c536cec.a4985c","x":280,"y":840,"wires":[]},{"id":"b7b8b007.2a8a5","type":"mqtt out","z":"7805686.aa4fd98","name":"","topic":"glove/gesture","qos":"","retain":"","broker":"4c536cec.a4985c","x":280,"y":900,"wires":[]},{"id":"7dab3b32.c8086c","type":"inject","z":"6ab0e354.73759c","name":"","props":[{"p":"payload.streaming","v":"dead","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":690,"y":380,"wires":[["51383486.06b114"]]},{"id":"49928aa7.4bf03c","type":"inject","z":"4e58db7.6d260a4","name":"","props":[{"p":"payload.Magic","v":"dead","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":410,"y":1020,"wires":[["194fad0e.4ca9e3"]]},{"id":"c926bea6.08ad2","type":"inject","z":"4e58db7.6d260a4","name":"","props":[{"p":"payload.yolact","v":"dead","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":410,"y":320,"wires":[["10559930.6b1547"]]},{"id":"ac691dd0.eed9e8","type":"switch","z":"7805686.aa4fd98","name":"Gesture_Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"wave_mode","vt":"str"},{"t":"eq","v":"fist_pump_mode","vt":"str"},{"t":"eq","v":"random_motion_mode","vt":"str"},{"t":"eq","v":"speed_mode","vt":"str"},{"t":"eq","v":"pumped_up_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":800,"y":480,"wires":[[],[],[],[],[]]},{"id":"e34ae868.2e4a18","type":"inject","z":"7805686.aa4fd98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"speed_mode","payloadType":"str","x":120,"y":980,"wires":[["b7b8b007.2a8a5"]]},{"id":"c5457878.2e15b","type":"inject","z":"7805686.aa4fd98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"random_motion_mode","payloadType":"str","x":140,"y":1020,"wires":[["b7b8b007.2a8a5"]]},{"id":"10f087d7.8e748","type":"inject","z":"cfd0979a.623e5","name":"testMidi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":40,"wires":[["991de3b1.be0f98"]]},{"id":"b49e37b3.77a678","type":"ui_text","z":"7805686.aa4fd98","group":"e56d764f.ce3b98","order":5,"width":0,"height":0,"name":"","label":"buttonCount","format":"{{msg.buttonCount}}","layout":"row-left","x":590,"y":140,"wires":[]},{"id":"f97e489c.25bf68","type":"comment","z":"7805686.aa4fd98","name":"Gesture Handler","info":"reads in current gesture, sets to a switch to trigger different effects for each gesture.\nSets feedback info to the last gesture performed","x":150,"y":440,"wires":[]},{"id":"f2d0a720.2b74c","type":"comment","z":"7805686.aa4fd98","name":"Controller Glove Feedback","info":"info on the controller glove being a alive or dead","x":150,"y":660,"wires":[]},{"id":"ed5d594e.552ab","type":"comment","z":"7805686.aa4fd98","name":"Initializing dead status ","info":"Sets the controller glove and gesture glove both to dead at upon start","x":140,"y":800,"wires":[]},{"id":"b172ea48.204808","type":"comment","z":"7805686.aa4fd98","name":"Gesture Test","info":"","x":90,"y":940,"wires":[]},{"id":"dad6d36c.c9f14","type":"link out","z":"7805686.aa4fd98","name":"NEON","links":["2274a8d0.58c958","8004387b.90aaa"],"x":1735,"y":520,"wires":[]},{"id":"e69e4d77.7394b8","type":"comment","z":"cfd0979a.623e5","name":"Neon","info":"","x":130,"y":760,"wires":[]},{"id":"456df4dc.df0f94","type":"function","z":"cfd0979a.623e5","name":"neon","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [55,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [55,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":270,"y":800,"wires":[["9f1818a6.60e7e8"]]},{"id":"2274a8d0.58c958","type":"link in","z":"cfd0979a.623e5","name":"Neon","links":["dad6d36c.c9f14"],"x":155,"y":800,"wires":[["456df4dc.df0f94"]]},{"id":"8f3f2b03.8f7eb8","type":"link in","z":"6ab0e354.73759c","name":"RobotVoice_toggle","links":["fd3b0934.201f2"],"x":275,"y":2320,"wires":[["582731fa.b28008"]]},{"id":"5fe5f4dd.634c74","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":560,"y":2320,"wires":[[],[]]},{"id":"f2ae2054.722528","type":"link in","z":"6ab0e354.73759c","name":"DeepVoice","links":["5a467fbb.a6c24"],"x":275,"y":2440,"wires":[["6d7f5b45.dbf9dc"]]},{"id":"d3a17493.6f13b8","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":560,"y":2440,"wires":[[],[]]},{"id":"f6265d2.d83f7a","type":"link in","z":"6ab0e354.73759c","name":"SnapEcho","links":["decf425d.e36fe"],"x":275,"y":2560,"wires":[["870f2a6e.fb826"]]},{"id":"582731fa.b28008","type":"function","z":"6ab0e354.73759c","name":"RobotVoice","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"rtmp\",\n    \"filterName\": \"ROBOT_VOICE\",\n    \"filterEnabled\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"rtmp\",\n    \"filterName\": \"ROBOT_VOICE\",\n    \"filterEnabled\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":390,"y":2320,"wires":[["5fe5f4dd.634c74"]]},{"id":"6d7f5b45.dbf9dc","type":"function","z":"6ab0e354.73759c","name":"DeepVoice","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"rtmp\",\n    \"filterName\": \"PITCHDOWN\",\n    \"filterEnabled\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"rtmp\",\n    \"filterName\": \"PITCHDOWN\",\n    \"filterEnabled\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":390,"y":2440,"wires":[["d3a17493.6f13b8"]]},{"id":"870f2a6e.fb826","type":"function","z":"6ab0e354.73759c","name":"VSM_SNAP","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"rtmp\",\n    \"filterName\": \"VSM_SNAP\",\n    \"filterEnabled\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"rtmp\",\n    \"filterName\": \"VSM_SNAP\",\n    \"filterEnabled\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":390,"y":2560,"wires":[["e17a9875.7c2148"]]},{"id":"e17a9875.7c2148","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":560,"y":2560,"wires":[[],[]]},{"id":"5a467fbb.a6c24","type":"link out","z":"7805686.aa4fd98","name":"DeepVoice_toggle","links":["f2ae2054.722528"],"x":1735,"y":760,"wires":[]},{"id":"fd3b0934.201f2","type":"link out","z":"7805686.aa4fd98","name":"RobotVoice","links":["8f3f2b03.8f7eb8"],"x":1735,"y":800,"wires":[]},{"id":"decf425d.e36fe","type":"link out","z":"7805686.aa4fd98","name":"Snap_echo","links":["f6265d2.d83f7a"],"x":1735,"y":840,"wires":[]},{"id":"8c044256.842148","type":"delay","z":"7805686.aa4fd98","name":"","pauseType":"delay","timeout":"9.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":480,"wires":[["ac691dd0.eed9e8"]]},{"id":"52cc8b3a.411ff4","type":"comment","z":"6ab0e354.73759c","name":"toggle_zoom_in","info":"","x":340,"y":2640,"wires":[]},{"id":"a6eff355.82115","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":580,"y":2680,"wires":[[],[]]},{"id":"f71c5ade.e538f8","type":"function","z":"6ab0e354.73759c","name":"zoom Cam","func":"if(context.get(\"toggle_Ecam\")){\n    context.set(\"toggle_Ecam\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"RTMP\",\n    \"source\": \"zoom\",\n    \"render\": context.get(\"toggle_Ecam\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle_Ecam\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"RTMP\",\n    \"source\": \"zoom\",\n    \"render\": context.get(\"toggle_Ecam\")\n    };\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle_Ecam\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle_Ecam\", false);","x":390,"y":2680,"wires":[["a6eff355.82115"]]},{"id":"cae8a43.ad08fd8","type":"link in","z":"6ab0e354.73759c","name":"zoom","links":["580ed058.a86c5","dfe39131.e6df7"],"x":275,"y":2680,"wires":[["f71c5ade.e538f8","7c3e11ea.7d482"]]},{"id":"dfe39131.e6df7","type":"link out","z":"7805686.aa4fd98","name":"zoom","links":["cae8a43.ad08fd8","e77ffa39.205238"],"x":1735,"y":880,"wires":[]},{"id":"580ed058.a86c5","type":"link out","z":"7805686.aa4fd98","name":"TwitchChat","links":["cae8a43.ad08fd8","550a06c2.0b0e1","e77ffa39.205238"],"x":1735,"y":920,"wires":[]},{"id":"550a06c2.0b0e1","type":"link in","z":"6ab0e354.73759c","name":"TwitchCHAT","links":["580ed058.a86c5"],"x":275,"y":2820,"wires":[["e3074913.63e198"]]},{"id":"1ff24c1e.9b161c","type":"comment","z":"6ab0e354.73759c","name":"toggle_twitchchat","info":"","x":340,"y":2780,"wires":[]},{"id":"e3074913.63e198","type":"function","z":"6ab0e354.73759c","name":"TwitchCHAT","func":"if(context.get(\"toggle_Ecam\")){\n    context.set(\"toggle_Ecam\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"Effects_CAM\",\n    \"source\": \"TwitchCHAT\",\n    \"render\": context.get(\"toggle_Ecam\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle_Ecam\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"Effects_CAM\",\n    \"source\": \"TwitchCHAT\",\n    \"render\": context.get(\"toggle_Ecam\")\n    };\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle_Ecam\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle_Ecam\", false);","x":390,"y":2820,"wires":[["8d498465.dd469"]]},{"id":"8d498465.dd469","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":580,"y":2820,"wires":[[],[]]},{"id":"f81464d0.eb161","type":"function","z":"6ab0e354.73759c","name":"LetMeTHINK freeze frame","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SourceFilterVisibilityChanged\",\n    \"scene-name\": \"RTMP\",\n    \"source\": \"Freeze\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SourceFilterVisibilityChanged\",\n    \"scene-name\": \"RTMP\",\n    \"source\": \"Freeze\",\n    \"render\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":430,"y":1120,"wires":[["5d139c8e.8e3964"]]},{"id":"4eef1467.e0c174","type":"link out","z":"4d7be1f4.b5275","name":"twitch_sub","links":[],"x":1455,"y":360,"wires":[]},{"id":"199cb650.075e3a","type":"link out","z":"4d7be1f4.b5275","name":"twitch_bits","links":[],"x":1455,"y":240,"wires":[]},{"id":"22d6ce13.51fb52","type":"link out","z":"4d7be1f4.b5275","name":"twitch_points","links":[],"x":1455,"y":180,"wires":[]},{"id":"b4921c40.a8602","type":"function","z":"cfd0979a.623e5","name":"Converge_toggle","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [48,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [48,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":310,"y":220,"wires":[["9f1818a6.60e7e8"]]},{"id":"fdf6fd06.fe3f7","type":"function","z":"cfd0979a.623e5","name":"ZoomingTrails_rainbow","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [47,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [47,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":330,"y":320,"wires":[["9f1818a6.60e7e8"]]},{"id":"d5af86a9.8fea6","type":"function","z":"cfd0979a.623e5","name":"motionBlur","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [50,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [50,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":290,"y":400,"wires":[["9f1818a6.60e7e8"]]},{"id":"6503f915.72b5e8","type":"comment","z":"cfd0979a.623e5","name":"Kalidoscope","info":"","x":150,"y":600,"wires":[]},{"id":"3cf3aefa.b34062","type":"comment","z":"cfd0979a.623e5","name":"background Rotate","info":"","x":170,"y":680,"wires":[]},{"id":"8ad030a9.3ea328","type":"comment","z":"cfd0979a.623e5","name":"HueShift","info":"","x":140,"y":840,"wires":[]},{"id":"27bb96e9.fbcd1a","type":"function","z":"cfd0979a.623e5","name":"HueShift","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [49,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [49,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":280,"y":880,"wires":[["9f1818a6.60e7e8"]]},{"id":"579b594c.152898","type":"link in","z":"cfd0979a.623e5","name":"HueShift","links":["d6dd2329.db743"],"x":155,"y":880,"wires":[["27bb96e9.fbcd1a"]]},{"id":"ceaea25d.638968","type":"comment","z":"cfd0979a.623e5","name":"mainRotation","info":"","x":150,"y":920,"wires":[]},{"id":"c210f403.e78138","type":"function","z":"cfd0979a.623e5","name":"mainRotation","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [56,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [56,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":290,"y":960,"wires":[["9f1818a6.60e7e8"]]},{"id":"6272276f.507788","type":"link in","z":"cfd0979a.623e5","name":"mainRotation","links":["6b8330db.7126"],"x":155,"y":960,"wires":[["c210f403.e78138"]]},{"id":"b39b295e.bbe2e8","type":"comment","z":"cfd0979a.623e5","name":"safetyTrails","info":"","x":150,"y":1000,"wires":[]},{"id":"47cb1b43.4c09dc","type":"function","z":"cfd0979a.623e5","name":"safetyTrails","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [57,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [57,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":290,"y":1040,"wires":[["9f1818a6.60e7e8"]]},{"id":"784a19b0.eb51c8","type":"link in","z":"cfd0979a.623e5","name":"safetyTrails","links":["3029958b.097302"],"x":155,"y":1040,"wires":[["47cb1b43.4c09dc"]]},{"id":"ed5821cd.461758","type":"comment","z":"cfd0979a.623e5","name":"VHS","info":"","x":130,"y":1080,"wires":[]},{"id":"4d6cc864.29dc18","type":"function","z":"cfd0979a.623e5","name":"VHS","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [58,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [58,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":270,"y":1120,"wires":[["9f1818a6.60e7e8"]]},{"id":"f78a8556.d698","type":"link in","z":"cfd0979a.623e5","name":"VHS","links":["29945960.5a046e"],"x":155,"y":1120,"wires":[["4d6cc864.29dc18"]]},{"id":"99d75a8a.744d88","type":"comment","z":"cfd0979a.623e5","name":"shake","info":"","x":130,"y":1160,"wires":[]},{"id":"c023c460.953488","type":"function","z":"cfd0979a.623e5","name":"shake","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [59,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [59,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":270,"y":1200,"wires":[["9f1818a6.60e7e8"]]},{"id":"6213d1d4.33f3a8","type":"link in","z":"cfd0979a.623e5","name":"shake","links":["6eb00e12.7fb25"],"x":155,"y":1200,"wires":[["c023c460.953488"]]},{"id":"7e911300.2f0324","type":"comment","z":"cfd0979a.623e5","name":"glitchShift","info":"","x":140,"y":1240,"wires":[]},{"id":"ad95372f.913a58","type":"function","z":"cfd0979a.623e5","name":"glitchShift","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = [60,127,127];\n    // edit the second number [46,_127_,127];\n}\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = [60,0,127];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":280,"y":1280,"wires":[["9f1818a6.60e7e8"]]},{"id":"ad05e5b1.d815f8","type":"link in","z":"cfd0979a.623e5","name":"glitchShift","links":["ee898cf0.20ba58"],"x":155,"y":1280,"wires":[["ad95372f.913a58"]]},{"id":"74df0070.658848","type":"link in","z":"cfd0979a.623e5","name":"Reset_Magic_settings","links":["eee94582.827158","dabbe1a.c709ca"],"x":155,"y":1360,"wires":[["ad5c4328.847cc","2e2544e6.d0cdbc","a5e44982.f3d2e8","c5eb0c2f.cd13c","65448937.fceb2","bd8f30a3.07f228","f380b2c1.f94cf8","aa2fdafa.40eaa8","117e8a47.072ace","ffb127e8.d64598","685a9c31.ab8124","fa219555.9cded","425ce70.1f1d998","e203594.7e5d728"]]},{"id":"9d968446.394238","type":"comment","z":"cfd0979a.623e5","name":"Reset_MAGIC_State","info":"","x":170,"y":1320,"wires":[]},{"id":"ad5c4328.847cc","type":"function","z":"cfd0979a.623e5","name":"glitchShift_OFF","func":"msg.payload = [60,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":300,"y":1360,"wires":[["9f1818a6.60e7e8"]]},{"id":"2e2544e6.d0cdbc","type":"function","z":"cfd0979a.623e5","name":"shake_OFF","func":"msg.payload = [59,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":490,"y":1360,"wires":[["9f1818a6.60e7e8"]]},{"id":"a5e44982.f3d2e8","type":"function","z":"cfd0979a.623e5","name":"VHS_OFF","func":"msg.payload = [58,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":670,"y":1360,"wires":[["9f1818a6.60e7e8"]]},{"id":"65448937.fceb2","type":"function","z":"cfd0979a.623e5","name":"safetyTrails OFF","func":"msg.payload = [57,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":350,"y":1400,"wires":[["9f1818a6.60e7e8"]]},{"id":"f380b2c1.f94cf8","type":"function","z":"cfd0979a.623e5","name":"mainRotation OFF","func":"msg.payload = [56,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":850,"y":1400,"wires":[["9f1818a6.60e7e8"]]},{"id":"aa2fdafa.40eaa8","type":"function","z":"cfd0979a.623e5","name":"HueShift OFF","func":"msg.payload = [49,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":1060,"y":1400,"wires":[["9f1818a6.60e7e8"]]},{"id":"ffb127e8.d64598","type":"function","z":"cfd0979a.623e5","name":"neon OFF","func":"msg.payload = [55,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":1250,"y":1400,"wires":[["9f1818a6.60e7e8"]]},{"id":"fa219555.9cded","type":"function","z":"cfd0979a.623e5","name":"background Rotate OFF","func":"msg.payload = [54,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":1490,"y":1400,"wires":[["9f1818a6.60e7e8"]]},{"id":"e203594.7e5d728","type":"function","z":"cfd0979a.623e5","name":"Kalidoscope_OFF","func":"msg.payload = [53,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":1750,"y":1400,"wires":[["9f1818a6.60e7e8"]]},{"id":"c5eb0c2f.cd13c","type":"function","z":"cfd0979a.623e5","name":"Background toggle 2 OFF","func":"msg.payload = [52,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":600,"y":1400,"wires":[["9f1818a6.60e7e8"]]},{"id":"bd8f30a3.07f228","type":"function","z":"cfd0979a.623e5","name":"ToggleStars OFF","func":"msg.payload = [51,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":870,"y":1360,"wires":[["9f1818a6.60e7e8"]]},{"id":"117e8a47.072ace","type":"function","z":"cfd0979a.623e5","name":"motionBlur OFF","func":"msg.payload = [50,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":1080,"y":1360,"wires":[["9f1818a6.60e7e8"]]},{"id":"685a9c31.ab8124","type":"function","z":"cfd0979a.623e5","name":"ZoomingTrails_rainbow OFF","func":"msg.payload = [47,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":1320,"y":1360,"wires":[["9f1818a6.60e7e8"]]},{"id":"425ce70.1f1d998","type":"function","z":"cfd0979a.623e5","name":"Converge_toggle_OFF","func":"msg.payload = [48,127,127];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", true);","x":1610,"y":1360,"wires":[["9f1818a6.60e7e8"]]},{"id":"d6dd2329.db743","type":"link out","z":"7805686.aa4fd98","name":"HueShift","links":["579b594c.152898","8004387b.90aaa"],"x":1735,"y":400,"wires":[]},{"id":"38dd4605.a296c2","type":"link out","z":"7805686.aa4fd98","name":"starToggle","links":["659bf19f.458918","8004387b.90aaa"],"x":1735,"y":720,"wires":[]},{"id":"7b4f3644.2a6ca","type":"link out","z":"7805686.aa4fd98","name":"starToggle","links":["777d8ac0.aac54c","8004387b.90aaa"],"x":1735,"y":960,"wires":[]},{"id":"6b8330db.7126","type":"link out","z":"7805686.aa4fd98","name":"starToggle","links":["6272276f.507788","8004387b.90aaa"],"x":1735,"y":1000,"wires":[]},{"id":"15527cc.d3ce583","type":"link out","z":"7805686.aa4fd98","name":"Noise","links":["37a8b86e.1713e"],"x":1735,"y":1040,"wires":[]},{"id":"dabbe1a.c709ca","type":"link out","z":"7805686.aa4fd98","name":"starToggle","links":["74df0070.658848","8004387b.90aaa"],"x":1735,"y":1080,"wires":[]},{"id":"a2503ee4.861b18","type":"switch","z":"7805686.aa4fd98","name":"Page_2","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"B1","vt":"str"},{"t":"eq","v":"B2","vt":"str"},{"t":"eq","v":"B3","vt":"str"},{"t":"eq","v":"B4","vt":"str"},{"t":"eq","v":"B5","vt":"str"},{"t":"eq","v":"B6","vt":"str"},{"t":"eq","v":"B7","vt":"str"},{"t":"eq","v":"B8","vt":"str"},{"t":"eq","v":"B9","vt":"str"},{"t":"eq","v":"B10","vt":"str"},{"t":"eq","v":"B11","vt":"str"},{"t":"eq","v":"B12","vt":"str"},{"t":"eq","v":"B13","vt":"str"},{"t":"eq","v":"B14","vt":"str"},{"t":"eq","v":"B15","vt":"str"},{"t":"eq","v":"B11+B12","vt":"str"},{"t":"eq","v":"B8+B9","vt":"str"},{"t":"eq","v":"B7+B8","vt":"str"},{"t":"eq","v":"B6+B7","vt":"str"},{"t":"eq","v":"B1+B2","vt":"str"},{"t":"eq","v":"B2+B3","vt":"str"},{"t":"eq","v":"B3+B4","vt":"str"},{"t":"eq","v":"B1+B6","vt":"str"},{"t":"eq","v":"B2+B7","vt":"str"},{"t":"eq","v":"B3+B8","vt":"str"},{"t":"eq","v":"B4+B9","vt":"str"},{"t":"eq","v":"B5+B10","vt":"str"},{"t":"eq","v":"B6+B11","vt":"str"}],"checkall":"false","repair":false,"outputs":28,"x":1340,"y":1380,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"1b01f8bb.fb4137","type":"delay","z":"7805686.aa4fd98","name":"","pauseType":"delay","timeout":"9.23","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1380,"wires":[["a2503ee4.861b18"]]},{"id":"37a8b86e.1713e","type":"link in","z":"6ab0e354.73759c","name":"Noise","links":["15527cc.d3ce583"],"x":275,"y":2380,"wires":[["507329ac.f3a81"]]},{"id":"b11fbbda.23788","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":560,"y":2380,"wires":[[],[]]},{"id":"507329ac.f3a81","type":"function","z":"6ab0e354.73759c","name":"Noise","func":"if(context.get(\"toggle\")){\n    context.set(\"toggle\", false);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"rtmp\",\n    \"filterName\": \"Noise\",\n    \"filterEnabled\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle\", true);\n    msg.payload = {\n    \"request-type\": \"SetSourceFilterVisibility\",\n    \"sourceName\": \"rtmp\",\n    \"filterName\": \"Noise\",\n    \"filterEnabled\": context.get(\"toggle\")\n    };\n    return msg;\n}\n\nreturn null;\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle\", false);","x":370,"y":2380,"wires":[["b11fbbda.23788"]]},{"id":"d7bacabe.810be","type":"function","z":"1b865d04.fea413","name":"Set ActiveEffects","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set('AE', 'none');","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nglobal.set('AE', 'none');","x":370,"y":160,"wires":[["fd3395bf.9e55e8","f8d5707.106399"]]},{"id":"3405236a.1fc0a4","type":"comment","z":"1b865d04.fea413","name":"Active Effects handler Function ","info":"","x":230,"y":120,"wires":[]},{"id":"fd3395bf.9e55e8","type":"mqtt out","z":"1b865d04.fea413","name":"","topic":"Active_Effects","qos":"","retain":"","broker":"4c536cec.a4985c","x":580,"y":160,"wires":[]},{"id":"f8d5707.106399","type":"ui_text","z":"1b865d04.fea413","group":"e56d764f.ce3b98","order":12,"width":0,"height":0,"name":"","label":"AE","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":120,"wires":[]},{"id":"ef004d2d.29796","type":"inject","z":"1b865d04.fea413","name":"AE_LOOP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":160,"wires":[["d7bacabe.810be"]]},{"id":"dd7a218d.9c2e8","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":580,"y":2720,"wires":[[],[]]},{"id":"7c3e11ea.7d482","type":"function","z":"6ab0e354.73759c","name":"zoomYol Cam","func":"if(context.get(\"toggle_Ecam\")){\n    context.set(\"toggle_Ecam\", false);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YolacZOOM\",\n    \"render\": context.get(\"toggle_Ecam\")\n    };\n    return msg;\n}\n\nelse{\n    context.set(\"toggle_Ecam\", true);\n    msg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"MULTI_TO_SPOUT\",\n    \"source\": \"YolacZOOM\",\n    \"render\": context.get(\"toggle_Ecam\")\n    };\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"toggle_Ecam\", false);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set(\"toggle_Ecam\", false);","x":400,"y":2720,"wires":[["dd7a218d.9c2e8"]]}]