flows.json
[{"id":"7805686.aa4fd98","type":"tab","label":"MQTT_IN","disabled":false,"info":""},{"id":"6ab0e354.73759c","type":"tab","label":"OBS_FLOW","disabled":false,"info":""},{"id":"d2fca23b.7424e","type":"tab","label":"HEAT_FLOW","disabled":false,"info":""},{"id":"cfd0979a.623e5","type":"tab","label":"MMV_FLOW","disabled":false,"info":""},{"id":"bd80cf37.f9982","type":"tab","label":"SPOTIFY_FLOW","disabled":false,"info":""},{"id":"1401435b.5e178d","type":"socketio-config","host":"wss://heat-ebs.j38.net","port":"443","path":"","reconnection":true},{"id":"4c536cec.a4985c","type":"mqtt-broker","name":"ATLTV_MQTT_BROKER","broker":"192.168.1.106","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cac3db2f.c8125","type":"obs-instance","name":"","host":"localhost","port":"4444"},{"id":"[YOUR CONFIG]","type":"mqtt-broker","name":"test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4007f45b.b0a3cc","type":"ui_tab","name":"Spotify","icon":"my_library_music","disabled":false,"hidden":false},{"id":"4c99ccf8.ce4ef4","type":"ui_group","name":"Spotify","tab":"4007f45b.b0a3cc","order":1,"disp":false,"width":"12","collapse":false},{"id":"b2d55c81.f3ac8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8b6fee01.4a3f5","type":"spotify-auth","name":"Spotify OAuth2","scope":"streaming\nuser-read-playback-position\nuser-read-playback-state\nuser-modify-playback-state\nuser-read-currently-playing\nugc-image-upload"},{"id":"c7c561fe.969e6","type":"socketio-connector","z":"d2fca23b.7424e","server":"1401435b.5e178d","namespace":"","name":"connectionname","x":220,"y":240,"wires":[["35e0ddf3.373bb2"]]},{"id":"35e0ddf3.373bb2","type":"socketio-listener","z":"d2fca23b.7424e","eventname":"click","name":"","x":390,"y":240,"wires":[["b99ce57a.b610f8"]]},{"id":"eefee1a2.84d79","type":"socketio-emitter","z":"d2fca23b.7424e","name":"","x":730,"y":320,"wires":[]},{"id":"ebdc4ec.37079b","type":"function","z":"d2fca23b.7424e","name":"sub event","func":"msg.connectionName = 'connectionname';\nmsg.eventName = 'channel';\nmsg.payload = [118520887];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":320,"wires":[["eefee1a2.84d79"]]},{"id":"b99ce57a.b610f8","type":"json","z":"d2fca23b.7424e","name":"","property":"payload","action":"","pretty":false,"x":530,"y":240,"wires":[["5e41f0cc.baa768"]]},{"id":"67ac329e.336ecc","type":"status","z":"d2fca23b.7424e","name":"","scope":["35e0ddf3.373bb2"],"x":200,"y":320,"wires":[["f0552191.3ae31"]]},{"id":"f0552191.3ae31","type":"function","z":"d2fca23b.7424e","name":"if listening","func":"if (msg.status.text == \"listening\") {\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":320,"wires":[["ebdc4ec.37079b"]]},{"id":"e9397373.321938","type":"comment","z":"d2fca23b.7424e","name":"THANK YOU LEB!","info":"This Section of code was writting by Leb, of https://github.com/lebaston100","x":230,"y":180,"wires":[]},{"id":"50375c36.45ed2c","type":"mqtt in","z":"7805686.aa4fd98","name":"","topic":"button","qos":"2","datatype":"auto","broker":"4c536cec.a4985c","x":150,"y":300,"wires":[["d6f06f17.35f548"]]},{"id":"7caafb5e.7e0724","type":"link out","z":"7805686.aa4fd98","name":"B1+B2","links":["692f9ec.2ddf9e"],"x":455,"y":260,"wires":[]},{"id":"d6f06f17.35f548","type":"switch","z":"7805686.aa4fd98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"B1+B2","vt":"str"},{"t":"eq","v":"B1+B3","vt":"str"},{"t":"eq","v":"B2+B3","vt":"str"},{"t":"eq","v":"B1","vt":"str"},{"t":"eq","v":"B2","vt":"str"},{"t":"eq","v":"B3","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":310,"y":300,"wires":[[],["d4ea20db.2fb09"],["7caafb5e.7e0724"],[],[],[]]},{"id":"c89077a5.2dd528","type":"obs-connection-status","z":"6ab0e354.73759c","name":"","obsInstance":"cac3db2f.c8125","x":140,"y":60,"wires":[["b65dcdcf.67e678"]]},{"id":"58e43dcf.9ba15c","type":"mqtt out","z":"6ab0e354.73759c","name":"","topic":"obs_status","qos":"","retain":"","broker":"4c536cec.a4985c","x":480,"y":60,"wires":[]},{"id":"9f1818a6.60e7e8","type":"midi out","z":"cfd0979a.623e5","name":"","midiport":"2","x":780,"y":440,"wires":[]},{"id":"e5f81316.30f87","type":"template","z":"cfd0979a.623e5","name":"midiObject","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"type\": \"noteon\",\n    \"channel\": 2,\n    \"data\": [60,127]\n}","x":310,"y":480,"wires":[["ded915cd.c5501"]]},{"id":"4636226b.582e5c","type":"inject","z":"cfd0979a.623e5","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"num","x":150,"y":460,"wires":[["e5f81316.30f87"]]},{"id":"ded915cd.c5501","type":"json","z":"cfd0979a.623e5","name":"","property":"payload","action":"","pretty":false,"x":450,"y":480,"wires":[["8d463bae.992ba"]]},{"id":"8d463bae.992ba","type":"change","z":"cfd0979a.623e5","name":"","rules":[{"t":"set","p":"midi","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":480,"wires":[["9f1818a6.60e7e8"]]},{"id":"24cca9fb.f9f78e","type":"comment","z":"cfd0979a.623e5","name":"Send raw bytes as Array","info":"","x":190,"y":80,"wires":[]},{"id":"db1fc43f.7e0cf8","type":"comment","z":"cfd0979a.623e5","name":"Send MIDI object","info":"","x":140,"y":400,"wires":[]},{"id":"692f9ec.2ddf9e","type":"link in","z":"cfd0979a.623e5","name":"","links":["7caafb5e.7e0724"],"x":95,"y":120,"wires":[["f2380f13.1a9d2"]]},{"id":"5e41f0cc.baa768","type":"mqtt out","z":"d2fca23b.7424e","name":"","topic":"viewer_click","qos":"","retain":"","broker":"4c536cec.a4985c","x":710,"y":240,"wires":[]},{"id":"87844721.c4725","type":"obs-no-req-data-request","z":"6ab0e354.73759c","name":"STARSTOPSTREAMING","request":"StartStopStreaming","obsInstance":"cac3db2f.c8125","x":250,"y":180,"wires":[["29e98e5e.ab31f2"]]},{"id":"b65dcdcf.67e678","type":"rbe","z":"6ab0e354.73759c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":320,"y":60,"wires":[["58e43dcf.9ba15c"]]},{"id":"d4ea20db.2fb09","type":"link out","z":"7805686.aa4fd98","name":"B1+B3","links":["c0158154.3e0b78"],"x":455,"y":220,"wires":[]},{"id":"c0158154.3e0b78","type":"link in","z":"6ab0e354.73759c","name":"","links":["d4ea20db.2fb09"],"x":75,"y":180,"wires":[["87844721.c4725"]]},{"id":"96c6e66f.8f4a78","type":"mqtt out","z":"6ab0e354.73759c","name":"","topic":"stream_live","qos":"","retain":"","broker":"4c536cec.a4985c","x":510,"y":180,"wires":[]},{"id":"9ef5bbbf.9ccd68","type":"obs-no-req-data-request","z":"6ab0e354.73759c","name":"stream_live","request":"GetStreamingStatus","obsInstance":"cac3db2f.c8125","x":390,"y":260,"wires":[["96c6e66f.8f4a78"]]},{"id":"29e98e5e.ab31f2","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":220,"wires":[["9ef5bbbf.9ccd68"]]},{"id":"438fa66c.e3e268","type":"comment","z":"6ab0e354.73759c","name":"stream_status","info":"nodes to start stop live streaming and send that status back to the mqtt server","x":120,"y":140,"wires":[]},{"id":"f2380f13.1a9d2","type":"function","z":"cfd0979a.623e5","name":"","func":"msg.payload = [46,127,127];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":120,"wires":[["9f1818a6.60e7e8"]]},{"id":"c2c469db.580898","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"getMyCurrentPlayingTrack","x":380,"y":60,"wires":[["2618401a.d4a3","d89db731.9dcb28","ec129954.d01af8","4240c7f2.ebbae8"]]},{"id":"e821612e.e3cf4","type":"inject","z":"bd80cf37.f9982","name":"10s/10s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"true","payloadType":"bool","x":140,"y":60,"wires":[["c2c469db.580898"]]},{"id":"2618401a.d4a3","type":"debug","z":"bd80cf37.f9982","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":40,"wires":[]},{"id":"663ee350.a90bfc","type":"mqtt out","z":"bd80cf37.f9982","name":"","topic":"spotify","qos":"","retain":"","broker":"4c536cec.a4985c","x":850,"y":80,"wires":[]},{"id":"d89db731.9dcb28","type":"change","z":"bd80cf37.f9982","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.item.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[["663ee350.a90bfc"]]},{"id":"5edcb928.352ed8","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"skipToNext","x":290,"y":180,"wires":[[]]},{"id":"346d2e57.3f7082","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"skipToPrevious","x":300,"y":220,"wires":[[]]},{"id":"ec129954.d01af8","type":"change","z":"bd80cf37.f9982","name":"","rules":[{"t":"move","p":"payload.is_playing","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":220,"wires":[[]]},{"id":"54f46f35.233","type":"switch","z":"bd80cf37.f9982","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":380,"wires":[["e497a2b8.fd79d"],["943e9a49.25e0f8"]]},{"id":"e497a2b8.fd79d","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"play","x":810,"y":360,"wires":[[]]},{"id":"943e9a49.25e0f8","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"pause","x":810,"y":400,"wires":[[]]},{"id":"1774f4d0.a4739b","type":"rbe","z":"bd80cf37.f9982","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":810,"y":280,"wires":[["54f46f35.233"]]},{"id":"79a3657f.878c5c","type":"inject","z":"bd80cf37.f9982","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":650,"y":420,"wires":[["943e9a49.25e0f8"]]},{"id":"c1699696.1dc128","type":"inject","z":"bd80cf37.f9982","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":650,"y":340,"wires":[["e497a2b8.fd79d"]]},{"id":"a22e150b.756278","type":"inject","z":"bd80cf37.f9982","name":"Next","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":180,"wires":[["5edcb928.352ed8"]]},{"id":"86b64b52.ec27b8","type":"inject","z":"bd80cf37.f9982","name":"Prev","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":220,"wires":[["346d2e57.3f7082"]]},{"id":"5e6aa81e.236958","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"getTrack","x":520,"y":580,"wires":[["6832171f.b21738","401fa237.e6689c"]]},{"id":"6832171f.b21738","type":"debug","z":"bd80cf37.f9982","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":540,"wires":[]},{"id":"df71ed65.9b56d","type":"rbe","z":"bd80cf37.f9982","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":480,"wires":[["2ce1a0e9.0f532"]]},{"id":"401fa237.e6689c","type":"debug","z":"bd80cf37.f9982","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":580,"wires":[]},{"id":"2ce1a0e9.0f532","type":"change","z":"bd80cf37.f9982","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[payload]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["5e6aa81e.236958"]]},{"id":"4240c7f2.ebbae8","type":"change","z":"bd80cf37.f9982","name":"","rules":[{"t":"move","p":"payload.item.id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":480,"wires":[["df71ed65.9b56d"]]}]