flows.json
[{"id":"7805686.aa4fd98","type":"tab","label":"GLOVE_FLOW","disabled":false,"info":""},{"id":"6ab0e354.73759c","type":"tab","label":"OBS_FLOW","disabled":false,"info":""},{"id":"d2fca23b.7424e","type":"tab","label":"HEAT_FLOW","disabled":false,"info":""},{"id":"cfd0979a.623e5","type":"tab","label":"MMV_FLOW","disabled":false,"info":""},{"id":"bd80cf37.f9982","type":"tab","label":"SPOTIFY_FLOW","disabled":false,"info":""},{"id":"6ab6fcb0.e1d5bc","type":"tab","label":"TWITCH_TMIJS_FLOW","disabled":false,"info":""},{"id":"4d7be1f4.b5275","type":"tab","label":"TWITCH_PUBSUB_FLOW","disabled":false,"info":""},{"id":"4e58db7.6d260a4","type":"tab","label":"PYTHON_FLOW","disabled":false,"info":""},{"id":"1401435b.5e178d","type":"socketio-config","host":"wss://heat-ebs.j38.net","port":"443","path":"","reconnection":true},{"id":"4c536cec.a4985c","type":"mqtt-broker","name":"ATLTV_MQTT_BROKER","broker":"192.168.1.106","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cac3db2f.c8125","type":"obs-instance","name":"","host":"localhost","port":"4444"},{"id":"b2d55c81.f3ac8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8b6fee01.4a3f5","type":"spotify-auth","name":"Spotify OAuth2","scope":"streaming\nuser-read-playback-position\nuser-read-playback-state\nuser-modify-playback-state\nuser-read-currently-playing\nugc-image-upload"},{"id":"8214a97c.3477e8","type":"tmi-config","name":"tvheadbot","username":"TvheadBot","channels":"atltvhead","reconnect":true,"secure":true,"log_error":true},{"id":"486da522.b31cbc","type":"websocket-client","path":"wss://pubsub-edge.twitch.tv","tls":"","wholemsg":"false"},{"id":"265c331e.217fdc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e56d764f.ce3b98","type":"ui_group","name":"Default","tab":"265c331e.217fdc","order":1,"disp":true,"width":"6","collapse":false},{"id":"c7c561fe.969e6","type":"socketio-connector","z":"d2fca23b.7424e","server":"1401435b.5e178d","namespace":"","name":"connectionname","x":220,"y":240,"wires":[["35e0ddf3.373bb2"]]},{"id":"35e0ddf3.373bb2","type":"socketio-listener","z":"d2fca23b.7424e","eventname":"click","name":"","x":390,"y":240,"wires":[["b99ce57a.b610f8"]]},{"id":"b99ce57a.b610f8","type":"json","z":"d2fca23b.7424e","name":"","property":"payload","action":"","pretty":false,"x":530,"y":240,"wires":[["5e41f0cc.baa768"]]},{"id":"e9397373.321938","type":"comment","z":"d2fca23b.7424e","name":"THANK YOU LEB!","info":"This Section of code was writting by Leb, of https://github.com/lebaston100","x":230,"y":180,"wires":[]},{"id":"50375c36.45ed2c","type":"mqtt in","z":"7805686.aa4fd98","name":"","topic":"button_glove","qos":"0","datatype":"auto","broker":"4c536cec.a4985c","x":110,"y":200,"wires":[["b3a01bd2.11c178"]]},{"id":"7caafb5e.7e0724","type":"link out","z":"7805686.aa4fd98","name":"B1+B2","links":["692f9ec.2ddf9e"],"x":995,"y":180,"wires":[]},{"id":"d6f06f17.35f548","type":"switch","z":"7805686.aa4fd98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"B12+B14+B15","vt":"str"},{"t":"eq","v":"B11+B13+B14","vt":"str"},{"t":"eq","v":"B11+B12+B13","vt":"str"},{"t":"eq","v":"B1+B2","vt":"str"},{"t":"eq","v":"B1+B3","vt":"str"},{"t":"eq","v":"B2+B3","vt":"str"},{"t":"eq","v":"B1","vt":"str"},{"t":"eq","v":"B2","vt":"str"},{"t":"eq","v":"B3","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":790,"y":200,"wires":[["d4ea20db.2fb09"],["3eff3a91.6ff0d6"],["1fb24399.e66b74"],[],[],["7caafb5e.7e0724"],[],[],[]]},{"id":"c89077a5.2dd528","type":"obs-connection-status","z":"6ab0e354.73759c","name":"","obsInstance":"cac3db2f.c8125","x":140,"y":60,"wires":[["b65dcdcf.67e678"]]},{"id":"58e43dcf.9ba15c","type":"mqtt out","z":"6ab0e354.73759c","name":"","topic":"obs_status","qos":"","retain":"","broker":"4c536cec.a4985c","x":480,"y":60,"wires":[]},{"id":"9f1818a6.60e7e8","type":"midi out","z":"cfd0979a.623e5","name":"","midiport":"0","x":780,"y":440,"wires":[]},{"id":"e5f81316.30f87","type":"template","z":"cfd0979a.623e5","name":"midiObject","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"type\": \"noteon\",\n    \"channel\": 2,\n    \"data\": [60,127]\n}","x":310,"y":480,"wires":[["ded915cd.c5501"]]},{"id":"4636226b.582e5c","type":"inject","z":"cfd0979a.623e5","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"num","x":150,"y":460,"wires":[["e5f81316.30f87"]]},{"id":"ded915cd.c5501","type":"json","z":"cfd0979a.623e5","name":"","property":"payload","action":"","pretty":false,"x":450,"y":480,"wires":[["8d463bae.992ba"]]},{"id":"8d463bae.992ba","type":"change","z":"cfd0979a.623e5","name":"","rules":[{"t":"set","p":"midi","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":480,"wires":[["9f1818a6.60e7e8"]]},{"id":"24cca9fb.f9f78e","type":"comment","z":"cfd0979a.623e5","name":"Send raw bytes as Array","info":"","x":190,"y":80,"wires":[]},{"id":"db1fc43f.7e0cf8","type":"comment","z":"cfd0979a.623e5","name":"Send MIDI object","info":"","x":140,"y":400,"wires":[]},{"id":"692f9ec.2ddf9e","type":"link in","z":"cfd0979a.623e5","name":"","links":["7caafb5e.7e0724"],"x":95,"y":120,"wires":[["f2380f13.1a9d2"]]},{"id":"5e41f0cc.baa768","type":"mqtt out","z":"d2fca23b.7424e","name":"","topic":"viewer_click","qos":"","retain":"","broker":"4c536cec.a4985c","x":710,"y":240,"wires":[]},{"id":"87844721.c4725","type":"obs-no-req-data-request","z":"6ab0e354.73759c","name":"STARSTOPSTREAMING","request":"StartStopStreaming","obsInstance":"cac3db2f.c8125","x":250,"y":380,"wires":[["29e98e5e.ab31f2"]]},{"id":"b65dcdcf.67e678","type":"rbe","z":"6ab0e354.73759c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":320,"y":60,"wires":[["58e43dcf.9ba15c","4fb5a6b9.6a16f"]]},{"id":"d4ea20db.2fb09","type":"link out","z":"7805686.aa4fd98","name":"B12+B14+B15","links":["c0158154.3e0b78"],"x":995,"y":60,"wires":[]},{"id":"c0158154.3e0b78","type":"link in","z":"6ab0e354.73759c","name":"","links":["d4ea20db.2fb09"],"x":75,"y":380,"wires":[["87844721.c4725"]]},{"id":"96c6e66f.8f4a78","type":"mqtt out","z":"6ab0e354.73759c","name":"","topic":"stream_live","qos":"","retain":"","broker":"4c536cec.a4985c","x":570,"y":460,"wires":[]},{"id":"9ef5bbbf.9ccd68","type":"obs-no-req-data-request","z":"6ab0e354.73759c","name":"stream_live","request":"GetStreamingStatus","obsInstance":"cac3db2f.c8125","x":390,"y":460,"wires":[["96c6e66f.8f4a78"]]},{"id":"29e98e5e.ab31f2","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":420,"wires":[["9ef5bbbf.9ccd68"]]},{"id":"438fa66c.e3e268","type":"comment","z":"6ab0e354.73759c","name":"stream_status","info":"nodes to start stop live streaming and send that status back to the mqtt server","x":90,"y":340,"wires":[]},{"id":"f2380f13.1a9d2","type":"function","z":"cfd0979a.623e5","name":"","func":"msg.payload = [46,127,127];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":120,"wires":[["9f1818a6.60e7e8"]]},{"id":"c2c469db.580898","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"getMyCurrentPlayingTrack","x":380,"y":60,"wires":[["2618401a.d4a3","d89db731.9dcb28","ec129954.d01af8","4240c7f2.ebbae8"]]},{"id":"e821612e.e3cf4","type":"inject","z":"bd80cf37.f9982","name":"10s/10s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"true","payloadType":"bool","x":140,"y":60,"wires":[["c2c469db.580898"]]},{"id":"2618401a.d4a3","type":"debug","z":"bd80cf37.f9982","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":40,"wires":[]},{"id":"663ee350.a90bfc","type":"mqtt out","z":"bd80cf37.f9982","name":"","topic":"spotify","qos":"","retain":"","broker":"4c536cec.a4985c","x":850,"y":80,"wires":[]},{"id":"d89db731.9dcb28","type":"change","z":"bd80cf37.f9982","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.item.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[["663ee350.a90bfc"]]},{"id":"5edcb928.352ed8","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"skipToNext","x":290,"y":180,"wires":[[]]},{"id":"346d2e57.3f7082","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"skipToPrevious","x":300,"y":220,"wires":[[]]},{"id":"ec129954.d01af8","type":"change","z":"bd80cf37.f9982","name":"","rules":[{"t":"move","p":"payload.is_playing","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":220,"wires":[[]]},{"id":"54f46f35.233","type":"switch","z":"bd80cf37.f9982","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":380,"wires":[["e497a2b8.fd79d"],["943e9a49.25e0f8"]]},{"id":"e497a2b8.fd79d","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"play","x":810,"y":360,"wires":[[]]},{"id":"943e9a49.25e0f8","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"pause","x":810,"y":400,"wires":[[]]},{"id":"1774f4d0.a4739b","type":"rbe","z":"bd80cf37.f9982","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":810,"y":280,"wires":[["54f46f35.233"]]},{"id":"79a3657f.878c5c","type":"inject","z":"bd80cf37.f9982","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":650,"y":420,"wires":[["943e9a49.25e0f8"]]},{"id":"c1699696.1dc128","type":"inject","z":"bd80cf37.f9982","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":650,"y":340,"wires":[["e497a2b8.fd79d"]]},{"id":"a22e150b.756278","type":"inject","z":"bd80cf37.f9982","name":"Next","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":180,"wires":[["5edcb928.352ed8"]]},{"id":"86b64b52.ec27b8","type":"inject","z":"bd80cf37.f9982","name":"Prev","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":220,"wires":[["346d2e57.3f7082"]]},{"id":"5e6aa81e.236958","type":"spotify","z":"bd80cf37.f9982","name":"","auth":"8b6fee01.4a3f5","api":"getTrack","x":520,"y":580,"wires":[["6832171f.b21738","401fa237.e6689c"]]},{"id":"6832171f.b21738","type":"debug","z":"bd80cf37.f9982","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":540,"wires":[]},{"id":"df71ed65.9b56d","type":"rbe","z":"bd80cf37.f9982","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":480,"wires":[["2ce1a0e9.0f532"]]},{"id":"401fa237.e6689c","type":"debug","z":"bd80cf37.f9982","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":580,"wires":[]},{"id":"2ce1a0e9.0f532","type":"change","z":"bd80cf37.f9982","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[payload]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["5e6aa81e.236958"]]},{"id":"4240c7f2.ebbae8","type":"change","z":"bd80cf37.f9982","name":"","rules":[{"t":"move","p":"payload.item.id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":480,"wires":[["df71ed65.9b56d"]]},{"id":"e434de34.5cb73","type":"tmi-command-connect","z":"6ab6fcb0.e1d5bc","config":"8214a97c.3477e8","name":"tvBot_Connect","x":160,"y":80,"wires":[["41752b66.e83c84"],[]]},{"id":"451a1500.edfdd4","type":"tmi-event-pong","z":"6ab6fcb0.e1d5bc","config":"8214a97c.3477e8","name":"","x":130,"y":140,"wires":[[]]},{"id":"1ce61c98.176fa3","type":"debug","z":"6ab6fcb0.e1d5bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":380,"wires":[]},{"id":"41752b66.e83c84","type":"tmi-command-join","z":"6ab6fcb0.e1d5bc","config":"8214a97c.3477e8","name":"","x":350,"y":80,"wires":[[],[]]},{"id":"801bd447.a8b87","type":"tmi-event-disconnected","z":"6ab6fcb0.e1d5bc","config":"8214a97c.3477e8","name":"","x":130,"y":300,"wires":[["1ce61c98.176fa3"]]},{"id":"f368a874.6ba76","type":"tmi-event-connected","z":"6ab6fcb0.e1d5bc","config":"8214a97c.3477e8","name":"","x":120,"y":240,"wires":[["1ce61c98.176fa3"]]},{"id":"5dc0a0c3.b69488","type":"tmi-event-chat","z":"6ab6fcb0.e1d5bc","config":"8214a97c.3477e8","name":"","x":130,"y":420,"wires":[["1ce61c98.176fa3"]]},{"id":"d1e177ca.34594","type":"tmi-event-raided","z":"6ab6fcb0.e1d5bc","config":"8214a97c.3477e8","name":"","x":130,"y":480,"wires":[["1ce61c98.176fa3"]]},{"id":"6ec442e7.d5a06c","type":"websocket out","z":"4d7be1f4.b5275","name":"","server":"","client":"486da522.b31cbc","x":570,"y":160,"wires":[]},{"id":"2f7f9ba5.1c9b34","type":"inject","z":"4d7be1f4.b5275","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"type\":\"LISTEN\",\"data\":{\"topics\":[\"community-points-channel-v1.118520887\", \"channel-bits-events-v1.118520887\", \"channel-subscribe-events-v1.118520887\"],\"auth_token\":\"7sh1403z1pqcwinvtkd7i8hjm0qtld\"}}","payloadType":"json","x":250,"y":160,"wires":[["6ec442e7.d5a06c"]]},{"id":"b77523a7.cb101","type":"debug","z":"4d7be1f4.b5275","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":280,"wires":[]},{"id":"75bf52a0.2e1d74","type":"websocket in","z":"4d7be1f4.b5275","name":"","server":"","client":"486da522.b31cbc","x":290,"y":280,"wires":[["9991044e.428128"]]},{"id":"d632e291.fe30b","type":"websocket out","z":"4d7be1f4.b5275","name":"","server":"","client":"486da522.b31cbc","x":650,"y":400,"wires":[]},{"id":"994c2baf.14f918","type":"inject","z":"4d7be1f4.b5275","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"299","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"type\": \"PING\"}","payloadType":"json","x":310,"y":400,"wires":[["d632e291.fe30b"]]},{"id":"9991044e.428128","type":"function","z":"4d7be1f4.b5275","name":"CH_P_REWARDs","func":"var p = JSON.parse(msg.payload);\n//node.warn(p)\nif (p.type == \"RESPONSE\"){\n    return null;\n}\nelse if(p.type == \"PONG\"){\n    return msg;\n}\nelse{\n    var par = JSON.parse(p.data.message);\n//  if (par.type == \"reward-redeemed\") {\n//      msg.payload = par.data.redemption.reward.title;\n//      return msg;\n//  }\n//  else if (par.type==\"MESSAGE\") {\n//      if (par.data.topic==\"channel-subscribe-events-v1.118520887\") {\n//          msg.payload = par.data;\n//          return msg;\n//      }\n//      else if (par.data.topic==\"channel-bits-events-v1.118520887\") {\n//          msg.payload = par.data;\n//          return msg;\n//      }\n//\n//  }\n//\n//  return null;\n    msg.payload = par;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":280,"wires":[["b77523a7.cb101","7b0c885a.682998"]]},{"id":"7b0c885a.682998","type":"mqtt out","z":"4d7be1f4.b5275","name":"","topic":"twitch_pubsub","qos":"","retain":"","broker":"4c536cec.a4985c","x":940,"y":320,"wires":[]},{"id":"f70de19d.e24c","type":"debug","z":"7805686.aa4fd98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"8520ebb1.8cabf8","type":"obs-no-req-data-request","z":"6ab0e354.73759c","name":"CurrentScene","request":"GetCurrentScene","obsInstance":"cac3db2f.c8125","x":400,"y":220,"wires":[["7415ff0b.7476a"]]},{"id":"92e934f2.3601c","type":"inject","z":"6ab0e354.73759c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["2270111c.17f9d6","dc5a16b.90285e8"]]},{"id":"5c2c61b.6f75da","type":"obs-raw-request","z":"6ab0e354.73759c","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":720,"y":220,"wires":[[],[]]},{"id":"7415ff0b.7476a","type":"function","z":"6ab0e354.73759c","name":"","func":"msg.payload = {\n    \"request-type\": \"TakeSourceScreenshot\",\n    \"message-id\":\"1\",\n    \"sourceName\": msg.payload.name,\n    \"embedPictureFormat\": \"jpeg\",\n    \"saveToFilePath\": \"C:/Users/nated/Pictures/obsscreenshots/screen.jpeg\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["5c2c61b.6f75da"]]},{"id":"2a56dd28.5b4272","type":"mqtt out","z":"6ab0e354.73759c","name":"","topic":"screen_shot","qos":"","retain":"","broker":"4c536cec.a4985c","x":930,"y":220,"wires":[]},{"id":"d9ea465e.42675","type":"comment","z":"6ab0e354.73759c","name":"ScreenShot_MQTT","info":"","x":110,"y":140,"wires":[]},{"id":"fa1abaf4.885038","type":"template","z":"6ab0e354.73759c","d":true,"name":"Image_in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/jpeg;base64,{{payload}}\"style=\"width=\"200\" height=\"140\"\"/>","output":"str","x":860,"y":280,"wires":[["b42fd1dc.ba144"]]},{"id":"b42fd1dc.ba144","type":"ui_template","z":"6ab0e354.73759c","d":true,"group":"e56d764f.ce3b98","name":"screenshot","order":8,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1030,"y":280,"wires":[[]]},{"id":"b83253e6.36f6a","type":"base64","z":"6ab0e354.73759c","name":"","action":"","property":"payload","x":680,"y":280,"wires":[["fa1abaf4.885038","2a56dd28.5b4272","806338f5.b90f3"]]},{"id":"772a9a9f.8a866c","type":"file in","z":"6ab0e354.73759c","name":"","filename":"C:/Users/nated/Pictures/obsscreenshots/screen.jpeg","format":"","chunk":false,"sendError":false,"encoding":"base64","x":380,"y":280,"wires":[["b83253e6.36f6a"]]},{"id":"2270111c.17f9d6","type":"delay","z":"6ab0e354.73759c","name":"","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":240,"wires":[["772a9a9f.8a866c"]]},{"id":"67ac329e.336ecc","type":"status","z":"d2fca23b.7424e","name":"","scope":["35e0ddf3.373bb2"],"x":200,"y":320,"wires":[["f0552191.3ae31"]]},{"id":"f0552191.3ae31","type":"function","z":"d2fca23b.7424e","name":"if listening","func":"if (msg.status.text == \"listening\") {\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":320,"wires":[["ebdc4ec.37079b"]]},{"id":"ebdc4ec.37079b","type":"function","z":"d2fca23b.7424e","name":"sub event","func":"msg.connectionName = 'connectionname';\nmsg.eventName = 'channel';\nmsg.payload = [118520887];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":320,"wires":[["eefee1a2.84d79"]]},{"id":"eefee1a2.84d79","type":"socketio-emitter","z":"d2fca23b.7424e","name":"","x":730,"y":320,"wires":[]},{"id":"dc5a16b.90285e8","type":"switch","z":"6ab0e354.73759c","name":"flow.state_gate","property":"state","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":180,"wires":[["8520ebb1.8cabf8"]]},{"id":"344e4ef9.e013ca","type":"change","z":"6ab0e354.73759c","name":"","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[[]]},{"id":"4fb5a6b9.6a16f","type":"function","z":"6ab0e354.73759c","name":"flow.state_set","func":"if (msg.payload == \"connected\") {\n    msg.payload = 1;\n    return msg;\n}\n\nelse if (msg.payload == \"disconnected\"){\n    msg.payload = 0;\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[["344e4ef9.e013ca"]]},{"id":"fb1182c6.051158","type":"comment","z":"6ab0e354.73759c","name":"obs_status","info":"","x":80,"y":20,"wires":[]},{"id":"defa30f8.d50d1","type":"exec","z":"4e58db7.6d260a4","command":"C:/Users/nated/Documents/StreamScripts/FG.bat","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":530,"y":80,"wires":[[],[],[]]},{"id":"713bc705.0f8358","type":"inject","z":"4e58db7.6d260a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["defa30f8.d50d1"]]},{"id":"9cd8d4f2.ff789","type":"status","z":"4e58db7.6d260a4","name":"","scope":["defa30f8.d50d1"],"x":140,"y":360,"wires":[["e7750087.a28d88"]]},{"id":"e7750087.a28d88","type":"function","z":"4e58db7.6d260a4","name":"if listening","func":"if (msg.status.text.slice(0, 3) == \"pid\") {\n    msg.payload = {\"yolact\": \"true\"};\n    return msg;\n}\nelse if (msg.status.text == \"rc:0\"){\n    msg.payload = {\"yolact\": \"false\"};\n    return msg;\n}\nelse if (msg.status.text.slice(0, 2) == \"rc\"){\n    msg.payload = {\"yolact\": \"false_bad\"};\n    return msg;\n}\nreturn null\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":360,"wires":[["8e995c51.db90c","d86a3c00.b560f"]]},{"id":"8e995c51.db90c","type":"mqtt out","z":"4e58db7.6d260a4","name":"","topic":"yolact_script","qos":"","retain":"","broker":"4c536cec.a4985c","x":510,"y":360,"wires":[]},{"id":"d86a3c00.b560f","type":"debug","z":"4e58db7.6d260a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":420,"wires":[]},{"id":"26d332f1.c3cf66","type":"comment","z":"4e58db7.6d260a4","name":"Start Yolact","info":"","x":120,"y":40,"wires":[]},{"id":"7f387ef.273c48","type":"comment","z":"4e58db7.6d260a4","name":"Yolact Status","info":"","x":150,"y":320,"wires":[]},{"id":"b3a01bd2.11c178","type":"json","z":"7805686.aa4fd98","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":200,"wires":[["36bf7ed8.9d4742"]]},{"id":"36bf7ed8.9d4742","type":"rbe","z":"7805686.aa4fd98","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":390,"y":200,"wires":[["7d02ea3c.419f5c"]]},{"id":"7d02ea3c.419f5c","type":"function","z":"7805686.aa4fd98","name":"ButtonSeperator","func":"var out = \"\"\n\nif(msg.payload.b1 != flow.get(\"b1\")){\n    if(msg.payload.b1 > flow.get(\"b1\")){\n        out = out + \"B1+\";\n    }\n    flow.set(\"b1\", msg.payload.b1);\n}\nif(msg.payload.b2 != flow.get(\"b2\")){\n    if(msg.payload.b2 > flow.get(\"b2\")){\n        out = out + \"B2+\";}\n    flow.set(\"b2\", msg.payload.b2);\n}\nif(msg.payload.b3 != flow.get(\"b3\")){\n    if(msg.payload.b3 > flow.get(\"b3\")){\n        out = out + \"B3+\";}\n    flow.set(\"b3\", msg.payload.b3);\n}\nif(msg.payload.b4 != flow.get(\"b4\")){\n    if(msg.payload.b4 > flow.get(\"b4\")){\n        out = out + \"B4+\";}\n    flow.set(\"b4\", msg.payload.b4);\n}\nif(msg.payload.b5 != flow.get(\"b5\")){\n    if(msg.payload.b5 > flow.get(\"b5\")){\n        out = out + \"B5+\";}\n    flow.set(\"b5\", msg.payload.b5);\n}\nif(msg.payload.b6 != flow.get(\"b6\")){\n    if(msg.payload.b6 > flow.get(\"b6\")){\n        out = out + \"B6+\";}\n    flow.set(\"b6\", msg.payload.b6);\n}\nif(msg.payload.b7 != flow.get(\"b7\")){\n    if(msg.payload.b7 > flow.get(\"b7\")){\n        out = out + \"B7+\";}\n    flow.set(\"b7\", msg.payload.b7);\n}\nif(msg.payload.b8 != flow.get(\"b8\")){\n    if(msg.payload.b8 > flow.get(\"b8\")){\n        out = out + \"B8+\";}\n    flow.set(\"b8\", msg.payload.b8);\n}\nif(msg.payload.b9 != flow.get(\"b9\")){\n    if(msg.payload.b9 > flow.get(\"b9\")){\n        out = out + \"B9+\";}\n    flow.set(\"b9\", msg.payload.b9);\n}\nif(msg.payload.b10 != flow.get(\"b10\")){\n    if(msg.payload.b10 > flow.get(\"b10\")){\n        out = out + \"B10+\";}\n    flow.set(\"b10\", msg.payload.b10);\n}\nif(msg.payload.b11 != flow.get(\"b11\")){\n    if(msg.payload.b11 > flow.get(\"b11\")){\n        out = out + \"B11+\";}\n    flow.set(\"b11\", msg.payload.b11);\n}\nif(msg.payload.b12 != flow.get(\"b12\")){\n    if(msg.payload.b12 > flow.get(\"b12\")){\n        out = out + \"B12+\";}\n    flow.set(\"b12\", msg.payload.b12);\n}\nif(msg.payload.b13 != flow.get(\"b13\")){\n    if(msg.payload.b13 > flow.get(\"b13\")){\n        out = out + \"B13+\";}\n    flow.set(\"b13\", msg.payload.b13);\n}\nif(msg.payload.b14 != flow.get(\"b14\")){\n    if(msg.payload.b14 > flow.get(\"b14\")){\n        out = out + \"B14+\";}\n    flow.set(\"b14\", msg.payload.b14);\n}\nif(msg.payload.b15 != flow.get(\"b15\")){\n    if(msg.payload.b15 > flow.get(\"b15\")){\n        out = out + \"B15+\";}\n    flow.set(\"b15\", msg.payload.b15);\n}\nmsg.payload = out.slice(0,-1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"b1\", undefined);\nflow.set(\"b2\", undefined);\nflow.set(\"b2\", undefined);\nflow.set(\"b3\", undefined);\nflow.set(\"b4\", undefined);\nflow.set(\"b4\", undefined);\nflow.set(\"b5\", undefined);\nflow.set(\"b6\", undefined);\nflow.set(\"b7\", undefined);\nflow.set(\"b8\", undefined);\nflow.set(\"b9\", undefined);\nflow.set(\"b10\", undefined);\nflow.set(\"b11\", undefined);\nflow.set(\"b12\", undefined);\nflow.set(\"b13\", undefined);\nflow.set(\"b14\", undefined);\nflow.set(\"b15\", undefined);","x":570,"y":200,"wires":[["f70de19d.e24c","d6f06f17.35f548","c9c6c684.150f08"]],"info":"This function first sets/resets button state when turning on the glove.\n\nThen if the set/reset values are smaller than the incomming values, create an output string for the switch node. \n\nI can also just use the button numbers in the switch node so I am looking into that. "},{"id":"22e23d4d.a276ba","type":"comment","z":"7805686.aa4fd98","name":"Button Handler","info":"","x":120,"y":120,"wires":[]},{"id":"3eff3a91.6ff0d6","type":"link out","z":"7805686.aa4fd98","name":"yolact","links":["2c2848be.64aa7"],"x":995,"y":100,"wires":[]},{"id":"2c2848be.64aa7","type":"link in","z":"4e58db7.6d260a4","name":"yolact","links":["3eff3a91.6ff0d6"],"x":175,"y":120,"wires":[["defa30f8.d50d1"]]},{"id":"c9c6c684.150f08","type":"ui_text","z":"7805686.aa4fd98","group":"e56d764f.ce3b98","order":1,"width":0,"height":0,"name":"","label":"buttons","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":300,"wires":[]},{"id":"b884fc2.188798","type":"mqtt in","z":"7805686.aa4fd98","name":"","topic":"glove/gesture","qos":"2","datatype":"auto","broker":"4c536cec.a4985c","x":110,"y":260,"wires":[["f70de19d.e24c"]]},{"id":"806338f5.b90f3","type":"debug","z":"6ab0e354.73759c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":340,"wires":[]},{"id":"13cebaf2.346d2d","type":"exec","z":"4e58db7.6d260a4","command":"taskkill /F /IM \"python.exe\" /T","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":160,"wires":[[],[],[]]},{"id":"48e2efa9.a53e6","type":"link in","z":"4e58db7.6d260a4","name":"kill_yolact","links":["1fb24399.e66b74"],"x":175,"y":180,"wires":[["13cebaf2.346d2d"]]},{"id":"1fb24399.e66b74","type":"link out","z":"7805686.aa4fd98","name":"kill_yolact","links":["48e2efa9.a53e6"],"x":1035,"y":120,"wires":[]}]